mixin life()
  +b.SECTION.life.section.wrapper
    h2.section-header__title Жизнь компании
    +imageInfo({
      img: 'about-page-1',
      title: 'Переезд в новый офис',
      time: 'Январь 2015',
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcot.'
    })
    .slider4
      .swiper-wrapper
        +imageInfo({
          img: 'about-page-1',
          title: 'Переезд в новый офис',
          time: 'Январь 2015'
        })._slide.swiper-slide
        +imageInfo({
          img: 'about-page-1',
          title: 'Переезд в новый офис',
          time: 'Январь 2015'
        })._slide.swiper-slide
        +imageInfo({
          img: 'about-page-1',
          title: 'Переезд в новый офис',
          time: 'Январь 2015'
        })._slide.swiper-slide
        +imageInfo({
          img: 'about-page-1',
          title: 'Переезд в новый офис',
          time: 'Январь 2015'
        })._slide.swiper-slide
    