extends ../../layout/page

//--------------------------------------------------//

block vars
  - const title = 'about'
  - const description = 'about'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: false,
      page: 'О нас'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('about')
  +style("services-s")
  +style('globus-s')
  +style('reviews-s')
  +style('request-s')
  +style('team-s')

block startBody
  +header()
  
 
block endBody
  +footer()
  +script('main')
  +script('swiper')

//--------------------------------------------------//

mixin content-block1(data)
  +b.content-block1
    +img(data.img).article-video
    +e.desc
      +e.H3.title!=data.title
      +e.text
        each text in data.text
          p!=text.p

block content
  +b.SECTION.about-p.wrapper
    +e.H2.title Основные направления деятельности компании "GLOBUS"
    +e.container
      +content-block1({
        img: 'about-page-1',
        title: 'Мебельные туры',
        text: [
          { p: "Наша компания помогает покупать мебель уже более 10 лет. Среди наших клиентов не только русскоговорящие, мы работаем с клиентами со всего мира. На данный момент мы осуществили поставку мебели в 40 стран мира. За эти годы мы приобрели большой опыт в поиске, покупке, проверке и другой работе связанной с поставками мебели из Китая. Нами было реализовано множество интересных проектов, и нам посчастливилось работать с очень крупными и амбициозными компаниями, а также с интересными людьми. Мы гордимся, что мы были причастны к созданию множества уникальных и неповторимых интерьеров! Мы с уверенностью смотрим в будущее и будем рады помочь Вам воплотить Ваши идеи и мечты в реальность!" }
        ]
      })
      +content-block1({
        img: 'about-page-2',
        title: 'Международная доставка',
        text: [
          { p: "Международная доставка грузов из Китая контейнерами - является одним из основных видов деятельности нашей компании. Мы накопили достаточный опыт, чтобы организовать доставку груза практически в любую точку нашей планеты! Благодаря собственному отделу логистики со специалистами, свободно говорящими на Китайском и Английском языках, для нас нет никаких преград, чтобы организовать даже самую сложную логистическую цепочку." },
          { p: "Мы постоянно изучаем все новшества и инновации в сфере логистики, используем автоматизацию рутинных процессов, чтобы снизить сроки предоставления информации для клиентов. При умной логистике, можно сэкономить значительные средства клиента!" },
        ]
      })
  +team
  +services
  +globus({
    head: true,
    header: true,
    logo: 'logo3.svg',
    text: [
      { p: 'GLOBUS - это международная компания с большим опытом работы на Китайском рынке. Мы помогаем покупать товары в Китае и доставляем их в любые точки земного шара. Каждый сотрудник компании — эксперт в своем деле. Мы работаем уже более 10 лет. Мы начинали, когда этого рынка еще, по сути, не существовало и нам приходилось прорубать себе дорогу методом проб и ошибок. Мы выросли и стали профессионалами высочайшего класса. Сотни клиентов уже воспользовались нашими услугами, многие из них приезжали несколько раз и не перестают рекомендовать наши услуги своим знакомым.' },
      { p: 'Наш офис и склад находится в городе Фошань, это позволяет нам быстрее решать вопросы с Китайскими поставщиками и организовывать доставку мебели на высоком уровне! Наши гиды-переводчики не только переводят, но также помогают добиться минимальной цены и нужных условий поставки. Мы хорошо понимаем особенности китайского менталитета и с радостью поделимся с вами всем нашим опытом.' }
    ]
  })
  +reviews
  +request
  
