@import "../../styles/vars"
@import "../../styles/mixins"

.about-p
  overflow: hidden
  .section-header__title
    margin-bottom: 58px

.content-block
  position: relative
  padding: 24px 30px 34px
  border-radius: 2px
  background: #fff
  box-shadow: 0px 4px 20px rgba(165,177,188,.3)
  +desktop(min)
    width: 730px
  +desktop
    width: 560px
  +tablet
    width: 450px
  +tabMd(max)
    margin: 0 0 240px
  &:not(:last-child)
    margin: 0 0 56px auto
    +tabMd(max)
      margin: 0 0 280px
    >.content-block__picture
      +tabMd(min)
        right: 660px
        left: auto
      +desktop
        right: 480px
      +tablet
        right: 240px

  &__picture
    position: absolute
    max-width: 450px
    width: 100%
    z-index: -1
    +tabMd(min)
      top: 50%
      left: 660px
      transform: translateY(-50%)
    +desktop
      left: 480px
    +tablet
      left: 240px
    +tabMd(max)
      left: 50%
      transform: translateX(-50%)
      top: calc(100% - 70px)
      width: 90%
      height: 310px

  &__icon
    margin-bottom: 24px

  &__title
    font-weight: 800
    font-size: 28px
    margin-bottom: 16px
    +mobile
      font-size: 22px

  &__text
    color: #6F6F6F
    >p
      &:not(:last-child)
        margin-bottom: 16px
