extends ../../layout/page

//--------------------------------------------------//

block vars
  - const title = 'about'
  - const description = 'about'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: false,
      page: 'О нас'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('about')
  +style("s-services")
  //- +style('globus-s')
  +style('s-reviews')
  +style('new-reviews')
  +style('life')
  +style('s-request')
  +style('s-team')

block startBody
  +header()
  
 
block endBody
  +footer()
  +script('swiper')
  +script('main')

//--------------------------------------------------//

mixin content-block(data)
  +b.content-block
    +image(data.img)
    +e.icon
      !=data.icon
    +e.H3.title!=data.title
    +e.text
      each text in data.text
        p!=text.p

block content
  +b.SECTION.about-p.section.wrapper
    h2.section-header__title Основные направления деятельности
    +e.container
      +content-block({
        img: 'about-page-1',
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M70.3 43.17h-3.7V30.83c0-3.4-2.76-6.16-6.16-6.16H40.7a6.17 6.17 0 00-6.16 6.16v12.34h-3.7a3.7 3.7 0 00-3.7 3.7V59.2a6.16 6.16 0 005.77 6.13l-1.77 6.2H19.6a6.18 6.18 0 00-6.04-4.93H11.1V9.82a7.35 7.35 0 0114.64-1.04l.02.15a3.68 3.68 0 00-2.23 4.02l.34 2-3.3 5.66a2.47 2.47 0 002.54 3.67l11.84-2a2.47 2.47 0 001.2-4.3l-4.98-4.27-.34-2a3.7 3.7 0 00-2.6-2.9l-.05-.38A9.82 9.82 0 008.64 9.82V66.6H6.17v-1.23a1.23 1.23 0 10-2.47 0v1.75A6.17 6.17 0 000 72.77C0 73.45.56 74 1.24 74h71.53a1.23 1.23 0 000-2.47H70l-1.77-6.2A6.16 6.16 0 0074 59.2V46.87a3.7 3.7 0 00-3.7-3.7zM34.53 19.85l-11.83 2 3.23-5.55 3.73-.63 4.88 4.18zm-5.93-6.5l-2.43.4-.2-1.2a1.24 1.24 0 012.43-.42l.2 1.22zm12.1 13.78h19.74a3.7 3.7 0 013.7 3.7V43.4a3.7 3.7 0 00-2.47 3.47v2.5a6.1 6.1 0 00-3.7-1.27h-4.42l2.82-2.83a1.23 1.23 0 00-1.74-1.74l-2.83 2.83V40.7a1.23 1.23 0 00-2.46 0v5.66l-2.83-2.83a1.23 1.23 0 00-1.75 1.74l2.83 2.83h-4.42a6.1 6.1 0 00-3.7 1.27v-2.5c0-1.57-1-2.96-2.47-3.47V30.83a3.7 3.7 0 013.7-3.7zm17.27 23.44a3.7 3.7 0 013.7 3.7v1.23h-22.2v-1.23a3.7 3.7 0 013.7-3.7h14.8zm1.75 14.8l3.52 6.16H37.9l3.53-6.16h18.3zm1.95-2.47h-22.2v-4.93h22.2v4.93zM29.6 59.2V46.87c0-.68.56-1.23 1.24-1.24h4.93c.68 0 1.23.56 1.23 1.24V62.9h-3.7a3.7 3.7 0 01-3.7-3.7zM2.68 71.53a3.7 3.7 0 013.5-2.46h7.39a3.7 3.7 0 013.49 2.46H2.68zm31.02 0l1.77-6.16h3.1l-3.52 6.16H33.7zm32.38 0l-3.52-6.16h3.11l1.76 6.16h-1.35zm5.45-12.33a3.7 3.7 0 01-3.7 3.7h-3.7V46.87c0-.68.56-1.23 1.24-1.24h4.93c.68 0 1.23.56 1.23 1.24V59.2z" fill="#007BF1"/></svg>',
        title: 'Мебельные туры',
        text: [
          { p: "Наша компания помогает покупать мебель уже более 10 лет. Среди наших клиентов не только русскоговорящие, мы работаем с клиентами со всего мира. На данный момент мы осуществили поставку мебели в 40 стран мира. За эти годы мы приобрели большой опыт в поиске, покупке, проверке и другой работе связанной с поставками мебели из Китая. Нами было реализовано множество интересных проектов, и нам посчастливилось работать с очень крупными и амбициозными компаниями, а также с интересными людьми. Мы гордимся, что мы были причастны к созданию множества уникальных и неповторимых интерьеров! Мы с уверенностью смотрим в будущее и будем рады помочь Вам воплотить Ваши идеи и мечты в реальность!" }
        ]
      })
      +content-block({
        img: 'about-page-2',
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.3 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM25.9 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM18.5 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM11.1 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM62.9 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM55.5 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM48.1 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23zM40.7 40.7c-.74 0-1.23.5-1.23 1.23V66.6c0 .74.49 1.23 1.23 1.23s1.23-.49 1.23-1.23V41.93c0-.74-.49-1.23-1.23-1.23z" fill="#007BF1"/><path d="M72.4 41.56a5.41 5.41 0 001.6-3.82v-1.97c0-.74-.5-1.24-1.23-1.24h-3.33L46.5 25.41c-.62-.25-1.36.12-1.6.74-.25.61.12 1.35.73 1.6l17.05 6.78H11.75l21.21-7.85a6.11 6.11 0 005.27 2.92 6.1 6.1 0 006.17-6.17 6.2 6.2 0 00-4.93-6.04v-1.48a6.1 6.1 0 004.93-6.04V1.23C44.4.5 43.9 0 43.17 0c-.74 0-1.24.5-1.24 1.23V4.9a6.18 6.18 0 00-3.7-1.2c-1.4 0-2.67.45-3.7 1.2V1.23C34.53.5 34.04 0 33.3 0s-1.23.5-1.23 1.23v8.64A6.1 6.1 0 0037 15.9v2.59c0 .74.5 1.23 1.23 1.23 2.1 0 3.7 1.6 3.7 3.7s-1.6 3.7-3.7 3.7a3.67 3.67 0 01-2.88-1.34l2.86-1.06.76.3c.25.13.37.13.5.13.49 0 .98-.25 1.1-.86.25-.62-.12-1.36-.73-1.6l-.85-.34a1.28 1.28 0 00-.74-.24h-.02-.01c-.25 0-.5.07-.7.2l-2.99 1.11c0-.74-.49-1.23-1.23-1.23s-1.23.5-1.23 1.23c0 .3.02.6.06.9L4.56 34.52H1.23c-.74 0-1.23.5-1.23 1.24v1.97c0 1.48.62 2.84 1.6 3.82.5.5.87 1.36.87 2.1v21.21c0 .87-.37 1.48-.87 2.1A5.41 5.41 0 000 70.79v1.98C0 73.5.5 74 1.23 74h71.54c.74 0 1.23-.5 1.23-1.23v-1.98c0-1.48-.62-2.83-1.6-3.82a2.89 2.89 0 01-.87-2.1V43.66c0-.86.37-1.48.87-2.1zM34.53 9.86c0-2.09 1.6-3.7 3.7-3.7s3.7 1.61 3.7 3.7c0 2.1-1.6 3.7-3.7 3.7s-3.7-1.6-3.7-3.7zM70.67 68.7c.62.61.86 1.35.86 2.1v.73H2.47v-.74c0-.86.37-1.48.86-2.1a5.41 5.41 0 001.6-3.82V43.66c0-1.36-.61-2.84-1.6-3.82a3.5 3.5 0 01-.86-2.1V37h69.06v.74a3.5 3.5 0 01-.86 2.1 5.41 5.41 0 00-1.6 3.82v21.21c0 1.48.61 2.84 1.6 3.83z" fill="#007BF1"/></svg>',
        title: 'Международная доставка',
        text: [
          { p: "Международная доставка грузов из Китая контейнерами - является одним из основных видов деятельности нашей компании. Мы накопили достаточный опыт, чтобы организовать доставку груза практически в любую точку нашей планеты! Благодаря собственному отделу логистики со специалистами, свободно говорящими на Китайском и Английском языках, для нас нет никаких преград, чтобы организовать даже самую сложную логистическую цепочку." },
          { p: "Мы постоянно изучаем все новшества и инновации в сфере логистики, используем автоматизацию рутинных процессов, чтобы снизить сроки предоставления информации для клиентов. При умной логистике, можно сэкономить значительные средства клиента!" },
        ]
      })
  +team
  +s-services
  //- +globus({
  //-   head: true,
  //-   header: true,
  //-   logo: 'logo3.svg',
  //-   text: [
  //-     { p: 'GLOBUS - это международная компания с большим опытом работы на Китайском рынке. Мы помогаем покупать товары в Китае и доставляем их в любые точки земного шара. Каждый сотрудник компании — эксперт в своем деле. Мы работаем уже более 10 лет. Мы начинали, когда этого рынка еще, по сути, не существовало и нам приходилось прорубать себе дорогу методом проб и ошибок. Мы выросли и стали профессионалами высочайшего класса. Сотни клиентов уже воспользовались нашими услугами, многие из них приезжали несколько раз и не перестают рекомендовать наши услуги своим знакомым.' },
  //-     { p: 'Наш офис и склад находится в городе Фошань, это позволяет нам быстрее решать вопросы с Китайскими поставщиками и организовывать доставку мебели на высоком уровне! Наши гиды-переводчики не только переводят, но также помогают добиться минимальной цены и нужных условий поставки. Мы хорошо понимаем особенности китайского менталитета и с радостью поделимся с вами всем нашим опытом.' }
  //-   ]
  //- })
  //- +reviews
  +new-reviews
  +life
  +s-request
