extends ../../layout/page

//--------------------------------------------------//

block vars
  -
    const title = 'prices'
    const description = 'prices'
    const pageBg = 'about-bg'
    const breadcrumbs = {
      page: 'Цены'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('prices')
  +style('request-s')

block startBody
  +header

block endBody
  +footer
  +script('swiper')
  +script('main')

//--------------------------------------------------//

mixin tabItem
  +e.item&attributes(attributes)
    +e.item-title Выберите стиль:
    +b.filter.columns3
      +e.BUTTON.link(data-filter='classic') Классика
      +e.BUTTON.link(data-filter='modern') Модерн1
      +e.BUTTON.link(data-filter='modern2') Модерн2
      +e.BUTTON.link Модерн3
      +e.BUTTON.link Модерн4
      +e.BUTTON.link Модерн5
    .container
      .columns3
        +videoInfo({
          img: 'about-bg',
          title: 'Мебельный тур в Китай. Цены на мебель для гостиницы и ресторана в Китае, Фошань.',
          time: '5 окт. 2019 г.'
        }).filter-element.classic
        +videoInfo({
          img: 'about-bg',
          title: 'Мебельный тур в Китай. Цены на мебель для гостиницы и ресторана в Китае, Фошань.',
          time: '5 окт. 2019 г.'
        }).filter-element.modern
        +videoInfo({
          img: 'about-bg',
          title: 'Мебельный тур в Китай. Цены на мебель для гостиницы и ресторана в Китае, Фошань.',
          time: '5 окт. 2019 г.'
        }).filter-element.modern2
      button.filter-reset Открыть все видео (32)

block content
  +b.article.wrapper
    +e.ARTICLE.content
      h1 Цены на мебель, освещение, отделочные материалы в Китае
      p Фошань представляет собой гигантское скопление мебели, декоративных и строительных материалов и аксессуаров. Количество товаров настолько велико, что сами фабрики не успевают обновлять свои собственные каталоги. Иногда всё что вы найдёте — фотографии на ipad в шоурумах. Здесь можно найти товары для любого кошелька и любого качества, что конечно в какой-то степени делает процесс выбора поставщиков очень сложным. Мы делаем еженедельные обзоры цен товаров на рынках Фошаня на нашем YouTube канале. Мы стараемся делать выборку именно по самым ходовым позициям, не разделяя на дорогие и дешевые, чтобы каждый мог найти себе что-то по вкусу.
      +b-tabs({
        links: [
          { href: '#m', text: 'Мебель', class: 'active' },
          { href: '#o', text: 'Освещение' },
          { href: '#s', text: 'Сантехника' },
          { href: '#r', text: 'Для ремонта' },
        ]
      })
        +tabItem#m.show
        //- +tabItem#o
        //- +tabItem#s
        //- +tabItem#r

      h2 Вопросы & Ответы
      +accardion({
        item: [
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Мы рекомендуем покупать <a href="#">мебель</a> среднего ценового сегмента и выше, так как таможенная пошлина на мебель и другие товары зависит не от фактической стоимости товаров, а от веса в кг. Поэтому получается, что таможенное оформление (растаможка) дешевой мебели и дорогой будет одинаковой!<br>В результате покупать мебель становится невыгодно. Рекомендуем Вам покупать мебель и другие товары среднего ценового сегмента и выше. Это информация актуальна для стран Таможенного союза: Россия, Казахстан, Киргизия, Белорусь, Армения, для остальных стран условия таможенного оформления могут быть другими, для уточнения информации, пожалуйста, свяжитесь с нашими менеджерами.' },
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Иногда да. Для этого необходимо заранее сообщить об этом перед отправкой контейнера из Китая. Стоимость контейнера зависит от даты изготовления, износа и других факторов, в среднем контейнер можно купить за 1500 - 3000$ (USD).' },
          { title: 'Как у вас на сайте найти каталоги?', text: 'На нашем сайте нет каталога с ценами на мебель в Китае, но Вы можете посмотреть цены мебель, сантехнику, освещение на нашем YouTube канале. На нашем канале множество качественных видеороликов, переходите смелее)' },
          { title: 'Какие товары выгоднее всего покупать в Фошане?', text: 'Все цены показанные в видео даны на 1шт. товара, то есть розничные. При покупке оптом вы абсолютно точно сможете выторговать выгодные условия.' },
        ]
      })

    +sidebar

  +s-request