extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'prices'
  - var description = 'prices'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      page: 'Цены'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('prices')
  +style('request-s')

block startBody
  +header()
 
block endBody
  +footer()
  +script('swiper')
  +script('main')

//--------------------------------------------------//

block content
  +b.article.wrapper
    +e.ARTICLE.content
      h1 Цены на мебель, освещение, отделочные материалы в Китае
      p Фошань представляет собой гигантское скопление мебели, декоративных и строительных материалов и аксессуаров. Количество товаров настолько велико, что сами фабрики не успевают обновлять свои собственные каталоги. Иногда всё что вы найдёте — фотографии на ipad в шоурумах. Здесь можно найти товары для любого кошелька и любого качества, что конечно в какой-то степени делает процесс выбора поставщиков очень сложным. Мы делаем еженедельные обзоры цен товаров на рынках Фошаня на нашем YouTube канале. Мы стараемся делать выборку именно по самым ходовым позициям, не разделяя на дорогие и дешевые, чтобы каждый мог найти себе что-то по вкусу.
      h2 Видео обзор цен на мебель в Китае, город Фошань.
      +article-slider2({
        slider: [
          { title: 'Клиент из Москвы советует Фошань для покупки мебели для дома.', img: 'reviews-p-1' },
          { title: 'Отзыв блогера Ольги Качановой. Стоит ли покупать мебель из Китая?', img: 'reviews-p-2' },
          { title: 'В мебельном туре купила все и даже больше!', img: 'reviews-p-1' },
          { title: 'Отзыв о мебельном туре в Китай, клиенты', img: 'reviews-p-2' }
        ]
      })
      h2 Видеообзор цен на обвещение в Гучжэне, Китай
      +article-slider2({
        slider: [
          { title: 'Клиент из Москвы советует Фошань для покупки мебели для дома.', img: 'reviews-p-1' },
          { title: 'Отзыв блогера Ольги Качановой. Стоит ли покупать мебель из Китая?', img: 'reviews-p-2' },
          { title: 'В мебельном туре купила все и даже больше!', img: 'reviews-p-1' },
          { title: 'Отзыв о мебельном туре в Китай, клиенты', img: 'reviews-p-2' }
        ]
      })
      h2 Цены на сантехнику в Китае, Фошань.
      +picture('reviews-p-2').article-video
      h2 Цены на шторы и обои
      +picture('reviews-p-2').article-video
      h2 Вопросы & Ответы
      +accardion({
        item: [
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Все цены показанные в видео даны на 1шт. товара, то есть розничные. При покупке оптом вы абсолютно точно сможете выторговать выгодные условия.' },
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Все цены показанные в видео даны на 1шт. товара, то есть розничные. При покупке оптом вы абсолютно точно сможете выторговать выгодные условия.' },
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Все цены показанные в видео даны на 1шт. товара, то есть розничные. При покупке оптом вы абсолютно точно сможете выторговать выгодные условия.' },
          { title: 'Какие цены вы показываете в видео: розничные или оптовые?', text: 'Все цены показанные в видео даны на 1шт. товара, то есть розничные. При покупке оптом вы абсолютно точно сможете выторговать выгодные условия.' },
        ]
      })

    +sidebar

  +request