extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'article'
  - var description = 'article'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: [
        { link: 'Все о мебельном туре', href:'#' }
      ],
      page: 'Что такое мебельный тур'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('article')

block startBody
  +header()
 
block endBody
  +footer()
  +script('swiper')
  +script('main')
  //- +script('article')

//--------------------------------------------------//

block content
  +b.SECTION.article.wrapper
    +e.content
      h1 Мебельный тур в Китай, Гуанчжоу, Фошань
      h2 Что такое мебельный тур в Китай?
      p
        strong Мебельный тур в Китай 
        | — это поездка за мебелью на несколько дней, с возможностью сэкономить и купить эксклюзивную мебель. В городе Фошань более 5000 мебельных фабрик, и он является центром производства мебели в Китае. Здесь вы сможете приобрести любую мебель для: дома, офиса, гостиницы, ресторана, бара, ночного клуба. Помимо мебели в Фошане очень выгодно покупать: освещение, сантехнику, аксессуары, материалы для ремонта. Приехав в Китай всего на 5-10 дней, Вы можете приобрести все необходимое, чтобы реализовать любой дизайн-проект!
      h3 Что можно купить во время мебельного тура в Китай?
      p Во время мебельного тура в Фошань можно купить мебель всех стилей, сантехнику и мебель для ванных комнат, аксессуары для интерьера, материалы для ремонта: керамическую плитку, мрамор, мозаику, паркет, ламинат, двери, замки и многое другое, что нужно для создания любого интерьера.
      h3 Стоимость (цена) мебельного тура в Китай
      +b.col2
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
      +b.col3
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
        div
          h3 ТЦ Санлинк Южный
          +picture('about-bg')
      blockquote Если вы не владеете китайским языком, то советуем установить приложение Didi до приезда в Китай. Тогда оно автоматически установится на английском языке, и не возникнет проблем с регистрацией на иностранный номер.
      p Стоимость наших услуг составляет от 3% от общей суммы Вашего заказа. В стоимость наших услуг входит:
      ul
        li Трансфер из/в аэропорт и передвижение по Фошаню (кроме выездов на фабрики)
        li Сопровождение менеджером-переводчиком
        li Контроль производства заказов
        li Инспекция качества товаров (неограниченное количество выездов)
        li Консолидация товара на нашем складе в г. Фошань
        li Загрузка контейнера
        li Организация доставки
      p
        strong Обратите внимание:
      h3 Выгодно ли покупать сантехнику, освещение, мебель в Китае?
      ol
        li Как проходит мебельный тур в Китай
        li Все о передвижении по Фошаню и транспорте
        li Все о платежах, депозитах и способах оплаты во время мебельного тура в Китай
        li Доставка мебели из Китая в Россию, Казахстан, Украину, Беларусь и другие страны мира
        li Таможенное оформление (растаможка) мебели из Китая в Россию, Казахстан, Беларусь
        li Проверка качества мебели, сантехники, освещения у китайских поставщиков
        li Наши гарантии
        li Все о рынках и фабриках мебельного города Фошаня
      .table-wrap
        table
          thead
            tr.center
              th №
              th Размер платежа
              th Описание
              th В какой момент нужно внести
              th Доступные способы оплаты
          tbody
            tr
              td 1
              td USD $900
              td Предоплата за нашу работу
              td При подписании контракта в нашем офисе в первый день
              td Наличные в USD, EUR либо эквивалент в CHY.
            tr
              td 2
              td 30% от стоимости товара
              td Депозит поставщикам за товары
              td В шоурумах (на фабриках) во время покупки
              td Наличные в USD, EUR либо CHY. Также возможен перевод на наш банковский счет (перед приездом)
            tr
              td(rowspan="2") 3
              td Остаток 70%
              td Баланс за товары
              td После изготовления и  полной проверки качества
              td Через наш банковский счет
            tr
              td 3% минус 900$
              td Баланс агентского вознаграждения
              td После прибытия контейнера в порт Владивостока*
              td На наш банковский счет
      //- +picture('about-bg')
      +picture('blogger2-video').article-video.iframe-popup
      +b.posts-nav
        +e.A.btn.btn._outline-color(href="#") &#10229; Передвижение и транспорт
        +e.A.btn.btn._outline-color(href="#") Доставка из Китая &#10230;

    +sidebar
