mixin b-review(data)
  +b.b-review.swiper-slide
    +b.video-review
      +image(data.video)
    +b.person-card
      +image(data.img)
      +e.desc
        +e.H5.name!=data.name
        +e.P.info!=data.info

mixin b-review-second(data)
  +b.b-review.swiper-slide
    +b.video-review.video-review_second
      +imageIframe(data.video)
    +b.person-card
      +image(data.img)
      +e.desc
        +e.H5.name!=data.name
        +e.P.info!=data.info

mixin b-review-not-avatar(data)
  +b.b-review.swiper-slide
    +b.video-review.video-review_not-avatar
      +imageIframe(data.video)