mixin img(img)
  +e.PICTURE.picture(class=attributes.class)
    source.img(srcset="img/"+ img +'-mob.webp' media="(max-width: 576px)" type="image/webp")
    source.img(srcset="img/"+ img +'-mob.jpg' media="(max-width: 576px)" type="image/webp")
    source.img(srcset="img/"+ img +'.webp' type="image/webp")
    img.img(src="img/"+ img +'.jpg' alt="img")

mixin sliderImg(img)
  +e.PICTURE.picture(class=attributes.class)
    source.img(data-srcset="img/"+ img +'-mob.webp' media="(max-width: 576px)" type="image/webp")
    source.img(data-srcset="img/"+ img +'-mob.jpg' media="(max-width: 576px)" type="image/webp")
    source.img(data-srcset="img/"+ img +'.webp' type="image/webp")
    img.img.swiper-lazy(data-src="img/"+ img +'.jpg' alt="img")

mixin picture(img)
  picture(class=attributes.class)
    source.img(srcset="img/"+ img +'-mob.webp' media="(max-width: 576px)" type="image/webp")
    source.img(srcset="img/"+ img +'-mob.jpg' media="(max-width: 576px)" type="image/webp")
    source.img(srcset="img/"+ img +'.webp' type="image/webp")
    img.img(src="img/"+ img +'.jpg' alt="img")

