@import "../../styles/vars"
@import "../../styles/mixins"

.reviews-p
  position: relative
  z-index: 1
  background: #fff
  padding-top: 60px
  width: 100%
  &__subtitle
    margin-bottom: 16px



@import "./*/*"
