extends ../../layout/page


//--------------------------------------------------//

block vars
  - const title = 'reviews'
  - const description = 'reviews'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      page: 'Отзывы'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('reviews')
  +style('reviews-s')
  +style('services-s')
  +style('request-s')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  +script('swiper')

//--------------------------------------------------//

block content
  +b.SECTION.reviews-p.wrapper.article__content
    h1 Мебельный тур в Китай, отзывы клиентов.
    h2 Реальные отзывы наших клиентов о мебельном туре в Китай
    p Услуга 
      a(href="#") мебельный тур 
      | в Китай год от года набирает все большую популярность, многие люди стали понимать, что практически все товары производятся в Китае. А стереотип о том, что «все китайские товары плохого качества» уходит в прошлое.
    p Наша компания оказывает услугу 
      strong  «мебельный тур в Китай» 
      | уже более 10 лет, за эти годы мы прошли большой путь! В данный момент GLOBUS — это международная компания с большим опытом работы на Китайском рынке. Мы помогаем покупать товары в Китае и доставляем их в любые точки земного шара. Каждый сотрудник компании — эксперт в своем деле. Сотни клиентов уже воспользовались нашими услугами, многие из них приезжали несколько раз и не перестают рекомендовать наши услуги своим знакомым.
    p Наш офис и склад находится в городе Фошань, это позволяет нам быстрее решать вопросы с Китайскими поставщиками и организовывать доставку мебели на высоком уровне! Наши гиды-переводчики не только переводят, но также помогают добиться минимальной цены и нужных условий поставки. Мы хорошо понимаем особенности китайского менталитета и с радостью поделимся с вами всем нашим опытом.
    p Ниже Вы можете прочитать отзывы клиентов о покупке мебели в Китае, а также посмотреть видео отзывы наших клиентов.
    +article-slider({
      slider: [
        { title: 'Клиент из Москвы советует Фошань для покупки мебели для дома.', img: 'reviews-p-1' },
        { title: 'Отзыв блогера Ольги Качановой. Стоит ли покупать мебель из Китая?', img: 'reviews-p-2' },
        { title: 'В мебельном туре купила все и даже больше!', img: 'reviews-p-1' },
        { title: 'Отзыв о мебельном туре в Китай, клиенты', img: 'reviews-p-2' }
      ]
    })

  +reviews
  +services
  +request.request_top