@import "../../styles/vars"
@import "../../styles/mixins"
  
.s-blog
  position: relative
  padding-top: 80px
  padding-bottom: 60px
  background: #F7F9FB
  overflow: hidden
  +mobile
    padding-bottom: 30px

  &__slider
    position: relative

  &__container
    +mobile(min)
      overflow: hidden
      padding: 15px
      margin: 0 -15px

  .next-button,
  .prev-button
    background: $colorMain
    transform: translateY(-50%)
    top: 160px
    &::before
      border-right: 5px solid #fff
      border-top: 4.5px solid transparent
      border-bottom: 4.5px solid transparent
  .next-button
    right: -16px
    &:before
      border-right: none
      border-left: 5px solid #fff
