mixin request()
  +b.SECTION.request.wrapper
    +e.desc
      +e.H2.title Оставьте заявку
      +e.P.subtitle Вы можете в любое время оставить нам сообщение, в рабочие дни мы ответим вам в течение 24 часов. Внимание! В связи с большим потоком клиентов для ускорения работы просим Вас как можно подробнее заполнить форму на сайте! Спасибо!
      +e.H3.title2 Мы надежная компания с большим опытом работы.
      +e.H3.title3 & Наши преимущества:
      +b.UL.check-list
        +e.LI.item Офис и склад в городе Фошань
        +e.LI.item Юр. лицо в Китае и РФ
        +e.LI.item Несем материальную ответственность за товар

    +b.form
      +e.H3.title Давайте воплотим Вашу мечту в жизнь!
      +e.P.subtitle Пожалуйста, заполните анкету, чтобы мы лучше поняли, что Вам нужно:
      +e.container
        +e.INPUT.input(type="text" placeholder='Ваше имя')
        +e.INPUT.input(type="mail" placeholder='Ваша электронная почта')
        +e.LABEL.label
          span Свяжитесь со мной по:
          +e.SELECT.input
            option Телефону
            option Whatsapp
            option Wechat
            option Viber
            option Telegram
        +e.LABEL.label
          span Мой номер
          +e.INPUT.input(type="text" placeholder='Ваш аккаунт (номер)')
        +e.LABEL.label
          span Я хочу купить мебель для:
          +e.SELECT.input
            option Дом
            option Ресторан
            option Отель
            option Офис
            option Квартира
            option Бар
            option Салон Красоты
        +e.LABEL.label
          span Какого размера?
          +e.INPUT.input(type="text" placeholder='Ваш аккаунт (номер)')
        +e.LABEL.label
          span Мой бюджет примерно:
          +e.SELECT.input
            option Выберите из списка
            option 10 000$ — 19 999$
            option 20 000$ — 29 999$
            option 30 000$ — 49 999$
            option 50 000$ — 99 999$
            option 100 000$ — 199 999$
            option 200 000$ — 500 000$
            option 500 000$+
        +e.LABEL.label
          span Я хочу доставить мебель в:
          +e.INPUT.input(type="text" placeholder='Страна и город')
        +e.TEXTAREA.input._textarea(rows='4' placeholder='Пожалуйста, напишите больше деталей!')
      button.btn Отправить!