extends ../../layout/index

//--------------------------------------------------//

block vars
  - var title = 'contacts'
  - var description = 'contacts'

//--------------------------------------------------//

block head
  +style('contacts')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('contacts')

//--------------------------------------------------//

block content
  +b.SECTION.contacts.wrapper
    +e.PICTURE.bg
      //- source.img(srcset="img/request-bg-mob.webp" media="(max-width: 576px)" type="image/webp")
      //- source.img(srcset="img/request-bg-mob.jpg" media="(max-width: 576px)" type="image/webp")
      source.img(srcset="img/request-bg.webp" type="image/webp")
      img.img(src="img/request-bg.jpg" alt="")
    +form
    +e.container
      +e.card
        h5
          <svg class="contacts__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bf1" d="M256 0a180 180 0 00-153 275l143 230c2 4 7 7 12 7h1c5 0 10-3 12-7l140-233A180 180 0 00256 0zm129 257L258 468 128 259a150 150 0 11257-2z"/><path fill="#007bf1" d="M256 90a90 90 0 100 180 90 90 0 000-180zm0 150a60 60 0 110-120 60 60 0 010 120z"/></svg>
          |Адрес офиса
        p
          a(href="#") China  Foshan, Jihua 5th Road 21, Jinhai Square, 1207
        p
          a(href="#") 佛山市禅城区季华五路21号，金海广场1207
        h6
          |<svg class="contacts__icon small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FFF" d="M302.78 239.71a11.35 11.35 0 00-16.05 0l-21.3 21.3a27.04 27.04 0 00-18.86.01l-43.79-43.8a11.35 11.35 0 00-16.05 16.06l43.8 43.8A27.19 27.19 0 00256 313.65a27.19 27.19 0 0025.47-36.6l21.31-21.3a11.35 11.35 0 000-16.05zM256 293.23a6.74 6.74 0 11.02-13.5 6.74 6.74 0 01-.02 13.5z"/><path fill="#FFF" d="M389.96 114.46l12.86-18.36 51.54 36.09a11.34 11.34 0 0015.8-2.79c26.01-37.15 16.95-88.54-20.2-114.55-37.15-26.02-88.54-16.95-114.55 20.2a11.35 11.35 0 002.78 15.8l46.04 32.23-12.86 18.37A216.81 216.81 0 00256 68.36a216.81 216.81 0 00-115.36 33.09l-12.86-18.37 46.03-32.23a11.35 11.35 0 002.79-15.8C150.58-2.1 99.2-11.17 62.04 14.85 24.9 40.86 15.83 92.25 41.84 129.4a11.34 11.34 0 0015.8 2.79l51.55-36.1 12.85 18.37c-51.19 39.95-84.17 102.2-84.17 172.03 0 75.93 39 142.91 98.02 182l-17.97 25.65a11.35 11.35 0 0018.59 13.02l18.98-27.11A216.8 216.8 0 00256 504.62c36.22 0 70.4-8.88 100.5-24.57l18.98 27.11a11.34 11.34 0 1018.59-13.01l-17.97-25.66c59.02-39.08 98.03-106.06 98.03-182 0-69.82-32.98-132.08-84.17-172.03zm-28.57-75.07a59.66 59.66 0 0175.56-5.95 59.66 59.66 0 0120.24 73.03l-95.8-67.08zM54.81 106.47a59.66 59.66 0 0120.25-73.03 59.68 59.68 0 0175.55 5.95l-95.8 67.08zm201.2 375.46c-107.77 0-195.45-87.67-195.45-195.44S148.24 91.05 256 91.05s195.44 87.68 195.44 195.44S363.77 481.93 256 481.93z"/><path fill="#FFF" d="M256 126.07c-88.45 0-160.42 71.97-160.42 160.42S167.55 446.91 256 446.91s160.42-71.96 160.42-160.42S344.46 126.07 256 126.07zm106.64 251.01l-7.66-7.66a11.35 11.35 0 00-16.05 16.04l7.67 7.67a139.39 139.39 0 01-79.25 32.9V415.1a11.35 11.35 0 00-22.7 0v10.92a139.4 139.4 0 01-79.24-32.9l7.67-7.67a11.35 11.35 0 10-16.05-16.04l-7.67 7.66a139.39 139.39 0 01-32.9-79.24h10.92a11.35 11.35 0 100-22.7h-10.91a139.4 139.4 0 0132.89-79.24l7.67 7.66a11.31 11.31 0 0016.04 0 11.35 11.35 0 000-16.04l-7.66-7.67a139.39 139.39 0 0179.24-32.9v10.92a11.35 11.35 0 0022.7 0v-10.92a139.39 139.39 0 0179.24 32.9l-7.66 7.67a11.35 11.35 0 0016.04 16.04l7.67-7.66a139.39 139.39 0 0132.9 79.24h-10.92a11.35 11.35 0 100 22.7h10.92a139.37 139.37 0 01-32.9 79.24z"/></svg>
          |Часы работы офиса
        p С понедельника по пятницу с 10.00 до 19.00 (Сейчас в Китае: 06:20)
      +e.card
        h5
          |<svg class="contacts__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485 485"><path fill="#007DF1" d="M0 82v322h485V82H0zm243 199L44 106h398L243 281zm-80-38L24 365V120l139 123zm18 16l62 53 61-53 138 121H43l138-121zm141-16l140-123v245L322 243z"/></svg>
          |E-mail
        p
          a(href="mailto:info@globus.furniture") info@globus.furniture
      +e.card
        h5
          |<svg class="contacts__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490"><path fill="#007DF1" d="M392 451V38c0-21-17-38-38-38H135c-21 0-38 17-38 38v414c0 20 17 38 38 38h219c21-1 38-18 38-39zM122 88h246v278H122V88zm13-63h219c8 0 14 6 14 13v26H122V38c0-7 6-13 13-13zm-13 426v-60h246v60c0 8-6 14-14 14H135c-7 0-13-6-13-14z"/><path fill="#007DF1" d="M270 417h-50a12 12 0 100 24h50a12 12 0 100-24z"/></svg>
          |Номера телефонов
        p
          a(href="tel:88007759408") 8-800-775-9408 (Бесплатно по РФ)
        p
          a(href="tel:+8675783054504") +86-757-8305-4504 (в Китае)
        p 
          a(href="tel:+8618675762020") +86-186-7576-2020 (WhatsApp)
