extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'booking'
  - var description = 'booking'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: false,
      page: 'Booking'
    }

//--------------------------------------------------//

block head
  +style('booking')

block startBody 
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('booking')

//--------------------------------------------------//

block content
  +b.SECTION.booking.wrapper
    +booking-form().booking__form
    +e.desc.article__content
      h2 Terms and conditions
      ol
        li This payment is 200$ USD, it is being part of 900$ USD agency fee deposit.
        li We refund the fee only if a client requested the refund no less than 30 consecutive days before the booked dates.
        li The money will be refunded to the same card/paypal the payment was made from.
        li To change the dates please contact our manager.
        li The new chosen dates should be no less than 7 consecutive days from the current date.
        li If the dates you need are less than 7 consecutive days from the current date confirm it with our manager. The decision will depend on available dates and tour managers.
        li We accept: 
          img(src="img/cards.png", alt="")
  .article.wrapper
    .article__content
      +calculator().calculator