.breadcrumbs
	position: absolute
	bottom: 60px
	z-index: 1
	color: #fff
	font-size: 15px
	padding-top: 15px
	font-family: $fontSecond
	+tabMd(max)
		bottom: 40px
		left: 50%
		transform: translateX(-50%)

	&__list
		display: flex
		flex-wrap: wrap
		align-items: center

	&__item
		position: relative
		white-space: nowrap

	&__arrow
		margin: 0 10px