mixin breadcrumbs(data)
	+b.breadcrumbs(class=attributes.class)
		+e.UL.list
			+e.LI.item
				+e.A.link(href='index.html') Главная
				+e.SPAN.arrow &#9013;
			if data.link
				each link in data.link
					+e.LI.item
						+e.A.link(href=link.href)= link.link
						+e.SPAN.arrow &#9013;
			+e.LI.item
				+e.SPAN.active!= data.page

//- +b-breadcrumbs({
//-   link: [
//-     {href: '#', link: 'Ссылка'}
//-   ],
//-   page: 'страница'
//- })
