@import "../../styles/vars"
@import "../../styles/mixins"

.main
  padding-top: 66px + 42px
  position: relative
  height: 550px
  background: #032D56
  z-index: 10
  +tablet(max)
    padding-top: 66px
  +tabMd(max)
    padding-left: 0
    height: 280px + 66px + 280px

  &__container
    position: relative
    height: 100%
    overflow: hidden

    .swiper-pagination1
      position: absolute
      +flex('between')
      +size(19px,80px)
      left: 0
      z-index: 1
      +tabMd(min)
        +centerY
        flex-direction: column
      +tabMd(max)
        bottom: 310px
        +size(80px,19px)
        +centerX
    .swiper-pagination
      &-bullet
        cursor: pointer
        position: relative
        display: block
        +size(19px)
        +flex('center')
        border-radius: 50%
        background: transparent
        border: 1px solid #fff
        opacity: .8
        +before(#fff,9px)
          position: relative
          border-radius: 50%
        &:hover,
        &-active
          opacity: 1
          border-color: #F2994A
          &::before
            background: #F2994A

  &__pagination
    position: relative
    right: 0
    +centerY

  &__catalog
    position: absolute
    z-index: 3
    bottom: -100px
    left: 0
    width: 100%
    +tablet(max)
      grid-template-columns: 1fr 1fr
      row-gap: 20px
      bottom: -220px
    +mobile
      bottom: -460px
      grid-template-columns: 1fr

.slide
  position: relative
  +size(100%)
  display: flex
  +tabMd(max)
    flex-direction: column
    justify-content: space-between
    height: 525px
  &.swiper-slide-active
    .slide__desc
      opacity: 1

  &__desc
    +size(45%, 100%)
    transition: .5s
    transition-delay: .5s
    opacity: 0
    padding: 60px 40px 80px 65px
    +tablet
      width: 60%
      padding: 80px 30px 90px
    +tabMd(max)
      width: 100%
      min-height: 280px
      padding: 40px 15px 80px

  &__title
    color: #fff
    font-size: 24px
    line-height: 126%
    margin-bottom: 20px
    font-weight: bold
    +tabMd(max)
      text-align: center

  &__text
    color: #fff
    font-size: 14px
    line-height: 20px
    margin-bottom: 28px
    max-width: 450px
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 7
    overflow: hidden
    +tabMd(max)
      text-align: center
      display: none

  &__buttons
    +tabMd(max)
      text-align: center

  &__btn
    margin-right: 15px
    font-size: 14px
    &.index-btn
      padding: 10px
      line-height: 100%

  &__picture
    display: block
    width: 55%
    +tablet
      width: 40%
    +tabMd(max)
      width: 100%
      max-height: 280px
      min-height: 280px

.catalog-item
  background-color: #fff
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
  border-radius: 2px
  transition: .2s
  &:hover
    transform: translateY(-5px)

  &__catalog-link
    display: block
    border-radius: 4px
    padding: 18px
    transition: $transition

    &:hover
      background-color: rgba(255,255,255,.05)

  &__catalog-title
    color: $black
    font-size: 16px
    font-weight: bold
    // margin: 0 auto 10px
    margin-left: 12px
    background-size: contain
    background-repeat: no-repeat
    width: max-content
    // padding-left: 40px
    text-align: center

  &__catalog-text
    font-size: 14px
    line-height: 19px
    color: #6F6F6F
    +tablet(min)
      text-align: center
      

  &__title-wrap
    display: flex
    align-items: center
    margin-bottom: 12px
    position: relative
    &::after
      content: ''
      position:  absolute
      width: 24px
      height: 24px
      background: url(../img/ar-index.svg) no-repeat
      background-size: cover
      right: 0
      
