@import "../../styles/vars"
@import "../../styles/mixins"

.main
  position: relative
  height: 550px
  z-index: 10

  +tabMd(max)
    height: 576px

  &__container
    position: relative
    height: 100%
    overflow: hidden

    .swiper-pagination1
      position: absolute
      +flex('between')
      +size(19px,80px)
      left: $wrapperLg
      z-index: 1
      +desktop
        left: $wrapperMd
      +tablet
        left: $wrapperTab
      +tabMd(min)
        +centerY
        flex-direction: column
      +tabMd(max)
        bottom: 210px
        +size(80px,19px)
        +centerX
  
    .swiper-pagination
      &-bullet
        cursor: pointer
        position: relative
        display: block
        +size(19px)
        +flex('center')
        border-radius: 50%
        background: transparent
        border: 1px solid #fff
        opacity: .8
        +before(#fff,9px)
          position: relative
          border-radius: 50%
        &:hover,
        &-active
          opacity: 1
          border-color: #F2994A
          &::before
            background: #F2994A

  &__pagination
    position: relative
    right: 0
    +centerY

  &__catalog
    position: absolute
    z-index: 3
    bottom: -100px
    left: 0
    width: 100%
    +mobile
      padding: 0 50px

.slide
  position: relative
  display: flex
  +size(100%)
  +tabMd(max)
    flex-direction: column
    justify-content: space-between
  &.swiper-slide-active
    .slide__desc
      opacity: 1

  &__desc
    position: relative
    max-width: 475px + 65px
    width: 100%
    z-index: 1
    transition: .5s
    transition-delay: .5s
    opacity: 0
    padding: 110px 0 80px 65px
    display: flex
    flex-direction: column
    justify-content: center

    +tablet
      width: 60%
      padding: 80px 30px 90px

    +tabMd(max)
      min-height: 280px
      padding: 110px 0 80px

  &__title
    color: #fff
    font-size: 24px
    line-height: 126%
    margin-bottom: 20px
    font-weight: bold

    +tabMd(max)
      text-align: center

  &__text
    color: #fff
    font-size: 14px
    line-height: 20px
    margin-bottom: 28px
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 7
    overflow: hidden
  
    +tabMd(max)
      text-align: center
      display: none

  &__buttons
    +tabMd(max)
      text-align: center

  &__btn
    margin-right: 15px
    font-size: 14px
    &.index-btn
      padding: 10px
      line-height: 100%

  &__picture
    position: absolute
    left: 0
    top: 0
    display: block
    +size(100%)

.catalog-item
  background-color: #fff
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
  border-radius: 2px
  transition: .2s
  &:hover
    transform: translateY(-5px)

  &__catalog-link
    display: block
    border-radius: 4px
    padding: 18px
    transition: $transition

    &:hover
      background-color: rgba(255,255,255,.05)

  &__catalog-title
    color: $black
    font-size: 16px
    font-weight: bold
    margin-left: 12px
    background-size: contain
    background-repeat: no-repeat
    width: max-content
    text-align: center

  &__catalog-text
    font-size: 14px
    line-height: 19px
    color: #6F6F6F
    +tablet(min)
      text-align: center
      

  &__title-wrap
    display: flex
    align-items: center
    margin-bottom: 12px
    position: relative
    &>svg>path
      fill: darken($colorMain, 15%)
    &::after
      content: ''
      position:  absolute
      width: 24px
      height: 24px
      background: url(../img/ar-index.svg) no-repeat
      background-size: cover
      right: 0