extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'blog'
  - var description = 'blog'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: false,
      page: 'Блог'
    }
    

//--------------------------------------------------//

block head
  +style('swiper')
  +style('blog')

block startBody
  +header()
 
block endBody
  +footer()
  +script('swiper')
  +script('main')

//--------------------------------------------------//

block content
  +b.article.wrapper
    +e.content
      +postNoSlider({
        img: 'blog1',
        title: 'Специальное предложение',
        time: '23 сентября',
        author: '5 минут',
        views: '4569',
        text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
        btn: true
      })
      +postNoSlider({
        img: 'blog1',
        title: 'Специальное предложение',
        time: '23 сентября',
        author: '5 минут',
        views: '4569',
        text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
        btn: true
      })
      +postNoSlider({
        img: 'blog1',
        title: 'Специальное предложение',
        time: '23 сентября',
        author: '5 минут',
        views: '4569',
        text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
        btn: true
      })
      +postNoSlider({
        img: 'blog1',
        title: 'Специальное предложение',
        time: '23 сентября',
        author: '5 минут',
        views: '4569',
        text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
        btn: true
      })
      +pagination

    +sidebar-blog