extends ../../layout/section
include s-globus

block content
  +globus({
    head: true,
    header: true,
    logo: 'logo3.svg',
    text: [
      { p: 'GLOBUS - это международная компания с большим опытом работы на Китайском рынке. Мы помогаем покупать товары в Китае и доставляем их в любые точки земного шара. Каждый сотрудник компании — эксперт в своем деле. Мы работаем уже более 10 лет. Мы начинали, когда этого рынка еще, по сути, не существовало и нам приходилось прорубать себе дорогу методом проб и ошибок. Мы выросли и стали профессионалами высочайшего класса. Сотни клиентов уже воспользовались нашими услугами, многие из них приезжали несколько раз и не перестают рекомендовать наши услуги своим знакомым.' },
      { p: 'Наш офис и склад находится в городе Фошань, это позволяет нам быстрее решать вопросы с Китайскими поставщиками и организовывать доставку мебели на высоком уровне! Наши гиды-переводчики не только переводят, но также помогают добиться минимальной цены и нужных условий поставки. Мы хорошо понимаем особенности китайского менталитета и с радостью поделимся с вами всем нашим опытом.' }
    ]
  })