@import "../../styles/vars"
@import "../../styles/mixins"
  
.s-about
  position: relative
  overflow: hidden
  padding-top: 160px
  padding-bottom: 80px
  background: #F7F9FB
  // +tablet(max)
  //   padding-top: 280px
  // +mobile
  //   padding-top: 460px

  .b-s-header__title
    padding-bottom: 42px
    color: $colorHeaders
    margin: 0
    
  &__info
    margin-bottom: 82px
    +tablet(min)
      display: flex
      align-items: center

  &__picture
    +tablet(min)
      width: 55%
    +tablet(max)
      margin-bottom: 42px

  &__desc
    +tablet(min)
      padding-left: 30px
      width: 45%
    
  &__subtitle 
    font-weight: 300
    font-size: 24px
    line-height: 29px
    margin-bottom: 22px

  &__text
    line-height: 22px
    margin-bottom: 20px

  &__link 
    display: flex
    align-items: center
    line-height: 22px
    color: $colorMain
    position: relative
    font-weight: 600

  &__cards
    row-gap: 48px
    +tablet
      grid-template-columns: repeat(6, 1fr)
    +tabMd(max)
      grid-template-columns: repeat(2, 1fr)

.about-card
  +tablet
    &:nth-child(3n+1)
      grid-column: 1 / 3
    &:nth-child(3n+2)
      grid-column: 3 / 5
    &:nth-child(3n+3)
      grid-column: 5 / 7
    &:nth-last-child(2)
      grid-column: 2 / 4
    &:last-child
      grid-column: 4 / 6

  &__icon
    +flex('center')
    width: 74px
    margin: 0 auto 18px
    &>svg
      width: 100%
      &>path
        fill: darken($colorMain, 15%)

  &__title
    font-weight: 600
    font-size: 16px
    color: $black
    text-align: center
    margin-bottom: 6px
    
  &__text
    margin: 0 auto
    font-size: 14px
    line-height: 18px
    text-align: center

