mixin s-about()
  +b.SECTION.s-about.section.wrapper
    +e.desc
      +e.header
        +e.H2.title GLOBUS
        +e.H4.subtitle Ваш надежный партнер в Китае
      p GLOBUS — это международная логистическая компания, мы специализируемся на организации и проведении мебельных туров в Китай г. Фошань (Гуанчжоу). Более чем за 10 лет сотрудничества с китайскими производителями мебели, наша компания нарастила бесценный опыт в проведении сделок с китайскими поставщиками и организации доставок по всему миру.
    +image('service-tour')

    +b-tabs({
      links: [
        { href: '#about', text: 'О нашей компании', class: 'active' },
        { href: '#plus', text: 'Почему с нами выгодно' },
        { href: '#tour', text: 'О мебельном туре' },
      ]
    })
      +e.item.show#about
        +image('service-tour')
        +e.text
          p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
          p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере. 
          p На основе нашей многолетней работы, можем вам уверенно заявить, что фактическая выгода от покупки: мебели, сантехники, материалов для ремонта и других товаров в Китае, с учетом суммы всех затрат (включая доставку, таможню и другие платежи), будет равняться не менее 50% сэкономленных денег, при покупке товаров на сумму от 30 000 долларов.
        +btn('Читать дальше')
      +e.item#plus
        +image('service-tour')
        +e.text
          p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
          p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере.
        +btn('Читать дальше')
      +e.item#tour
        +image('service-tour')
        +e.text
          p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
        +btn('Читать дальше')