mixin about-card(card)
  +b.about-card
    +e.icon!=card.icon
    +e.SPAN.title=card.title
    +e.P.text=card.text
mixin s-about()
  +b.SECTION.s-about.section.wrapper
    //- +e.desc
    //-   +e.header
    //-     +e.H2.title GLOBUS
    //-     +e.H4.subtitle Ваш надежный партнер в Китае
    //-   p GLOBUS — это международная логистическая компания, мы специализируемся на организации и проведении мебельных туров в Китай г. Фошань (Гуанчжоу). Более чем за 10 лет сотрудничества с китайскими производителями мебели, наша компания нарастила бесценный опыт в проведении сделок с китайскими поставщиками и организации доставок по всему миру.
    //- +image('service-tour')

    //- +b-tabs({
    //-   links: [
    //-     { href: '#about', text: 'О нашей компании', class: 'active' },
    //-     { href: '#plus', text: 'Почему с нами выгодно' },
    //-     { href: '#tour', text: 'О мебельном туре' },
    //-   ]
    //- })
    //-   +e.item.show#about.open-text-wrap
    //-     +image('service-tour')
    //-     +e.text.open-text-js
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-       p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере. 
    //-       p На основе нашей многолетней работы, можем вам уверенно заявить, что фактическая выгода от покупки: мебели, сантехники, материалов для ремонта и других товаров в Китае, с учетом суммы всех затрат (включая доставку, таможню и другие платежи), будет равняться не менее 50% сэкономленных денег, при покупке товаров на сумму от 30 000 долларов.
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-       p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере. 
    //-       p На основе нашей многолетней работы, можем вам уверенно заявить, что фактическая выгода от покупки: мебели, сантехники, материалов для ремонта и других товаров в Китае, с учетом суммы всех затрат (включая доставку, таможню и другие платежи), будет равняться не менее 50% сэкономленных денег, при покупке товаров на сумму от 30 000 долларов.
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-       p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере. 
    //-       p На основе нашей многолетней работы, можем вам уверенно заявить, что фактическая выгода от покупки: мебели, сантехники, материалов для ремонта и других товаров в Китае, с учетом суммы всех затрат (включая доставку, таможню и другие платежи), будет равняться не менее 50% сэкономленных денег, при покупке товаров на сумму от 30 000 долларов.
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-       p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере. 
    //-       p На основе нашей многолетней работы, можем вам уверенно заявить, что фактическая выгода от покупки: мебели, сантехники, материалов для ремонта и других товаров в Китае, с учетом суммы всех затрат (включая доставку, таможню и другие платежи), будет равняться не менее 50% сэкономленных денег, при покупке товаров на сумму от 30 000 долларов.
    //-     +btn('Читать дальше').open-text-btn
    //-   +e.item#plus.open-text-wrap
    //-     +image('service-tour')
    //-     +e.text.open-text-js
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-       p Качество мебели в Китае абсолютно полностью оправдывает цену, это значит, что, приобретая высококачественную мебель в Китае, вы экономите не менее 50% по сравнению с покупкой товаров такого же качества в своей стране. Однако здесь не нужно будет идти на нежеланные уступки и изменения в вашем проекте, так как с вероятностью 100% вы найдёте то, что задумали увидеть в своем интерьере.
    //-     +btn('Читать дальше').open-text-btn
    //-   +e.item#tour.open-text-wrap
    //-     +image('service-tour')
    //-     +e.text.open-text-js
    //-       p Мебельный тур в Китай – это покупка мебели с экономией минимум в два раза по сравнению с такими странами, как Россия, США, Австралия, страны СНГ и Европы. 
    //-     +btn('Читать дальше').open-text-btn
    +e.H2.title Мебельный тур в Китай с компанией Глобус. Почему мы?!
    +e.info-wrap
      +e.IMG.img(src="img/team.jpg")
      +e.text-wrap 
        +e.H3.subtitle Ваш надежный партнер в Китае
        +e.P.text GLOBUS — это международная логистическая компания, мы специализируемся на организации и проведении мебельных туров в Китай г. Фошань (Гуанчжоу). Более чем за 10 лет сотрудничества с китайскими производителями мебели, наша компания нарастила бесценный опыт в проведении сделок с китайскими поставщиками и организации доставок по всему миру.
        +e.A.link(href="#") Подробнее о нас
    +e.cards.columns4
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })
      +about-card({
        icon: '<svg width="74" height="74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.93 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84zM21.01 34.74a5.7 5.7 0 110-11.4 5.7 5.7 0 010 11.4zm0-9.12a3.42 3.42 0 100 6.84 3.42 3.42 0 000-6.84z" fill="#03529E"/><path d="M59.78 42.09l10.86-9.88a3.19 3.19 0 00-4.25-4.74l-8.19 7.27H46.7L38.1 45.23V16.5h11.4v4.56H68.3l-2.74-6.84 2.74-6.84H55.22V2.82H35.83v42.41l-8.58-10.49h-11.5l-8.19-7.28a3.19 3.19 0 00-4.26 4.75l10.87 9.88v26.85H2.77v2.28h68.4v-2.28h-11.4V42.1zM55.22 9.66h9.71l-1.82 4.56 1.82 4.56H51.8V16.5h3.43V9.66zM38.12 5.1h14.81v9.12H38.11V5.1zM25.56 68.94h-3.42V52.98h-2.28v15.96h-3.42V41.08L4.84 30.52a.91.91 0 01-.14-1.17.9.9 0 011.35-.18l8.83 7.85h11.3l8.47 10.36a.93.93 0 01-1.42 1.2l-7.66-8.94v29.3zm20.52 0H27.85V45.8l3.65 4.25a3.2 3.2 0 004.22.58l.12-.1v9.3h2.28v-9.3a3.2 3.2 0 004.34-.48l3.63-4.25v23.14zm11.4 0h-3.42V52.98H51.8v15.96h-3.42v-29.3l-7.65 8.94a.93.93 0 01-1.42-1.2l8.47-10.36h11.3l8.83-7.85a.9.9 0 011.35.18.9.9 0 01-.14 1.17L57.49 41.08v27.86z" fill="#03529E"/></svg>',
        title: 'Опыт',
        text: 'Более 10 лет опыта работы'
      })