.wrapper
  padding-right: $padding
  padding-left: $padding
  +desktop(min)
    padding-right: $wrapperLg
    padding-left: $wrapperLg
  +desktop
    padding-right: $wrapperMd
    padding-left: $wrapperMd
  +tablet
    padding-right: $wrapperTab
    padding-left: $wrapperTab
  +tabMd
    padding-right: $wrapperMob
    padding-left: $wrapperMob

.wrapper-left
  padding-left: $padding
  +desktop(min)
    padding-left: $wrapperLg
  +desktop
    padding-left: $wrapperMd
  +tablet
    padding-left: $wrapperTab
  +tabMd
    padding-left: $wrapperMob

.img
  +size(100%)
  object-fit: cover
  vertical-align: middle
  &.loading
    +size(0)

.page-head
  position: relative
  z-index: 10
  height: 300px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  +mobile
    height: 250px
  &__title
    z-index: 1
    padding-top: 150px
    color: #fff
    position: relative
    font-weight: 700
    font-size: 40px
    margin-bottom: 0
    +tabMd(max)
      text-align: center
      padding-top: 120px
      font-size: 6vw

.section
  position: relative
  padding-top: 60px
  padding-bottom: 60px
  background-color: #fff
  z-index: 1
  &.fixed-bg
    z-index: 0

.article
  padding-top: 60px
  padding-bottom: 80px
  +tablet(min)
    +flex('between')
  +mobile
    padding-top: 30px
    padding-bottom: 30px
  &__content
    +tablet(max)
      padding-bottom: 60px
    >.article-slider
      margin-bottom: 20px
    >h1
      font-weight: 700
      +mobile
        font-size: 7vw
        line-height: 1.15
    >h2,>h3,>h4,>h5,>h6
      margin: 16px 0
    >h3
      +mobile
        font-size: 22px
        line-height: 26px
    >p
      margin-bottom: 16px
    >ul
      margin-bottom: 24px
      padding-left: 14px
      >li
        list-style-type: disc
        padding-left: 8px
        margin-bottom: 6px
    >ol
      margin-bottom: 24px
      padding-left: 14px
      >li
        list-style-type: decimal
        padding-left: 8px
        margin-bottom: 6px
        >a
          color: $colorMain
          &:hover
            text-decoration: underline
    >picture,
    >p>picture
      width: 100%
      height: max-content
      margin-bottom: 20px
    >.post-info
      margin-bottom: 20px

    >img
      width: 100%
      height: auto
      object-fit: cover

  &__picture
    overflow: hidden
    border-radius: 6px
    >img
      transition: transform 10s
    &:hover >img
      transform: scale(1.2)

  &__content
    +tablet(min)
      width: calc(100% - 285px)
  
  .tabs
    &__nav
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin-bottom: 20px
    &__link
      margin: 10px
      &:not(.active)
        background-color: #282A3C
      &::after
        background-color: #fff
    &__container
      >.article__content
        width: 100%
        padding-bottom: 20px
        &.active
          display: block

.table-wrap
  position: relative
  width: 100%
  overflow-x: auto
  overflow-y: auto
  margin-bottom: 24px
  +mobile
    left: -15px
    width: calc(100% + 30px)
  // &::-webkit-scrollbar-button
  //   background-image: url('')
  //   background-repeat: no-repeat
  //   width: 5px
  //   height: 5px
  &::-webkit-scrollbar-track 
    background-color: #ecedee
  &::-webkit-scrollbar-thumb
    // border-radius: 0px
    background-color: $colorMain
  &::-webkit-scrollbar-thumb:hover
    background-color: $colorMain
  &::-webkit-scrollbar
    width: 4px
  // &::-webkit-resizer
    // background-image: url('')
    // background-repeat: no-repeat
    // width: 4px
    // height: 0px

.posts-nav
  +mobile(min)
    +flex('between')
  &__btn
    +mobile
      width: 100%
      margin-bottom: 10px

.article-video
  width: 100%
  height: max-content
  border-radius: 6px
  position: relative
  margin-bottom: 20px
  cursor: pointer
  overflow: hidden
  +before((url(../img/play-button.svg)),65px)
    cursor: pointer
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    z-index: 10

.instagram
  width: 100%
  margin-bottom: 22px
  +flex('between-wrap')
  +mobile
    margin: 0 auto 22px

  &__link
    display: block
    width: calc((100% / 4) - 4px)
    margin-bottom: 6px
    +mobile
      margin-bottom: 4px

  &__picture
    +size(100%)


//---------------__person-card__-----------------//

.person-card
  display: flex
  align-items: center
  padding: 25px 0 20px 20px

  &__picture
    overflow: hidden
    position: relative
    z-index: 1
    +size(80px)
    border-radius: 50%
    padding: 5px
    background: #fff
    margin-right: 15px
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    >img
      border-radius: 50%


//---------------__check-list__-----------------//

.check-list

  &__item
    position: relative
    font-size: 15px
    font-family: $fontSecond
    color: rgba(255,255,255,.7)
    padding-left: 30px
    &:not(:last-child)
      margin-bottom: 18px
  &__icon
    position: absolute
    +size(18px,27px)
    left: 0
    top: -4px
    >path
      fill: $colorMain

//====================__video info__====================//

.video-info
  margin-bottom: 30px
  .article-video
    &:before
      background: url(../img/play-icon.svg)
  &__title
    transition: $transition
    line-height: 20px
    font-weight: 600
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    overflow: hidden
    margin-bottom: 8px
  &__time
    font-size: 14px
    color: #7B7B7B
  &.hide
    display: none

//====================__separator__====================//

.separator
  display: block
  +size(100%,1px)
  margin: 40px 0
  border: none
  background: #CBCBCB


//====================__slider btns__====================//

.next-button,
.prev-button
  cursor: pointer
  position: absolute
  +centerY
  z-index: 10
  +size(32px)
  border-radius: 50%
  background: #fff
  box-shadow: 0px 3px 8px
  +triangle('left',5px,9px,$colorMain)
    +center

.prev-button
  left: -16px

.next-button
  right: -16px
  &:before
    border-right: none
    border-left: 5px solid $colorMain