extends ../../layout/index

//--------------------------------------------------//

block vars
  - var title = 'index'
  - var description = 'index'

//--------------------------------------------------//

block head
  +style('swiper')
  +style('index')
  +style('main-s')
  +style('globus-s')
  +style("services-s")
  +style('reviews-s')
  +style('request-s')
  +style('blog-s')
  +style('price')
  +style('bloggers-s')


block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  +script('swiper')

//--------------------------------------------------//

block content
  +main
  +globus({
    logo: 'logo2.svg',
    text: [
      { p:"Глобус — это международная компания с большим опытом работы с китайскими производителями и доставки товаров по всему миру. Наша компания много лет специализируется на организации и проведении мебельных туров. Мы как никто другой понимаем особенности работы с китайскими поставщиками, знаем все подводные камни и поможем Вам купить мебель Вашей мечты в Китае по справедливой цене. За годы работы через нас прошли сотни клиентов, купивших мебель для своих домов отелей и ресторанов. Если бы они все жили в одном месте, то получился бы целый город!" }
    ]
  })
  +services
  +price
  +reviews
  +request
  +blog
  +bloggers