extends ../../layout/page

include main/main
include globus/globus
include services/services
include reviews/reviews
include request/request
include blog/blog
include bloggers/bloggers

//--------------------------------------------------//

block vars
  - var title = 'index'
  - var description = 'index'

//--------------------------------------------------//

block head
  +style('swiper')
  +style('index')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  +script('swiper')

//--------------------------------------------------//

block content
  +main
  +globus
  +services
  +reviews
  +request
  +blog
  +bloggers