extends ../../layout/index

//--------------------------------------------------//

block vars
  - var title = 'index'
  - var description = 'index'

//--------------------------------------------------//

block head
  +style('swiper')
  +style('s-main')
  +style('s-about')
  +style('s-price-comparison')
  +style('s-how')
  +style('s-about-reviews')
  +style('s-request')
  +style('s-bloggers')
  +style('s-blog')
  +style('index')


block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  +script('swiper')

//--------------------------------------------------//

block content
  +s-main
  +s-about
  +s-price-comparison
  +s-how
  +s-about-reviews
  +s-main-request
  +s-bloggers
  +s-blog