mixin list(data)
  +e.list
    +e.H5.title!=data.title
    +e.UL.list-wrap
      each item in data.items
        +e.LI.list-item(class=item.icon)
          +e.A.list-link(href!=item.href)!=item.link

mixin footer()
  +b.FOOTER.footer.wrapper
    +e.top
      +e.list
        +e.H5.title Напишите нам
        +e.UL.list-wrap
          +e.LI.list-item._location
            +e.P.list-title АДРЕС ОФИСА
            +e.A.list-link(href="#" rel="nofollow noopener" target='_blank') CHINA, FOSHAN, JIHUA 5TH ROAD 21, JINHAI SQUARE, 1207
          +e.LI.list-item._mobile
            +e.P.list-title НОМЕРА ТЕЛЕФОНОВ
            +e.A.list-link(href="#") 8-800-775-9408 (БЕСПЛАТНО ПО РФ)
            +e.A.list-link(href="#") +86-757-8305-4504 (В КИТАЕ)
            +e.A.list-link(href="#") +86-186-7576-2020 (WHATSAPP)
          +e.LI.list-item._email
            +e.P.list-title E-MAIL
            +e.A.list-link(href="#") INFO@GLOBUS.FURNITURE
      +list({
        title: 'Мессенджеры',
        items: [
          {href: '#', link: '+8618675762020', icon: 'footer__list-item_whatsapp'},
          {href: '#', link: 'GLOBUS_FURNITURE', icon: 'footer__list-item_telegram'},
          {href: '#', link: '+8618675762020', icon: 'footer__list-item_viber'},
          {href: '#', link: 'GLOBUS_FURNITURE', icon: 'footer__list-item_wechat'},
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_facebook'}
        ]
      })
      +list({
        title: 'Соцсети',
        items: [
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_fb'},
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_instagram'},
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_vk'},
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_ok'},
          {href: '#', link: 'GLOBUS.GUANGZHOU', icon: 'footer__list-item_youtube'}
        ]
      })
      +e.list
        +e.H5.title Наш
          a(href="#" rel="nofollow noopener") Инстаграм
        +b.instagram
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta1')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta2')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta3')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta4')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta5')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta6')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta7')
          +e.A.link(href="#" rel="nofollow noopener" target='_blank')
            +img('insta8')
        +e.social-links
          +e.A.social-link._facebook.btn(href="#" aria-label='facebook' rel="nofollow noopener" target='_blank')
          +e.A.social-link._instagram.btn(href="#" aria-label='instagram' rel="nofollow noopener" target='_blank')
          +e.A.social-link._vk.btn(href="//vk.com" aria-label='vkontakte' rel="nofollow noopener" target='_blank')
          +e.A.social-link._youtube.btn(href="#" aria-label='youtube' rel="nofollow noopener" target='_blank')
          +e.A.social-link._ok.btn(href="#" aria-label='odnoklassniki' rel="nofollow noopener" target='_blank')
             
    +e.bottom
      p COPYRIGHT &copy; 2019 GLOBUS LTD.
      p
        +e.A.link(href="#") ГОРОДА
        span  / 
        +e.A.link(href="#") СОТРУДНИЧЕСТВО
        span  / 
        +e.A.link(href="#") КАРТА САЙТА
