.footer
  position: relative
  color: #fff
  background-color: $colorFooter
  padding-top: 30px
  padding-bottom: 25px
  &__top
    padding-bottom: 20px
    +media(min,374px)
      display: grid
      grid-column-gap: 30px
    +tablet(min)
      grid-template-columns: 2fr 1fr 1fr 2fr
    +tablet(max)
      grid-template-columns: 1fr 1fr

  &__list
    font-size: 13px
    color: #b0b0b0
    line-height: 22px
    text-transform: uppercase
    &:not(:last-child)
      padding-bottom: 40px
    +tabMd(max)
      &:first-child,
      &:last-child
        grid-column-start: 1 
        grid-column-end: 3 


  &__list-item
    position: relative
    padding-left: 24px
    &:not(:last-child)
      margin-bottom: 20px
    +before(transparent,18px)
      top: 2px
      left: 0
    &.location
      padding-left: 40px
      &:before
        +size(22px)
        background: url(../img/location-icon.svg)
    &.mobile
      padding-left: 40px
      &:before
        +size(22px)
        background: url(../img/mobile-icon.svg)
      +mobile
        >.footer__list-link
          margin-bottom: 8px
    &.email
      padding-left: 40px
      &:before
        +size(22px)
        background: url(../img/mail-icon.svg)
    &.whatsapp
      &:before
        background: url(../img/whatsapp-icon.svg)
    &.telegram
      &:before
        background: url(../img/telegram-icon.svg)
    &.viber
      &:before
        background: url(../img/viber-icon.svg)
    &.wechat
      &:before
        background: url(../img/wechat-icon.svg)
    &.facebook
      &:before
        background: url(../img/facebook-icon.svg)
    &.fb
      &:before
        background: url(../img/fb-icon.svg)
    &.instagram-icon
      &:before
        background: url(../img/instagram-icon.svg)
    &.vk
      &:before
        background: url(../img/vk-icon.svg)
    &.ok
      &:before
        background: url(../img/ok-icon.svg)
    &.youtube
      &:before
        background: url(../img/youtube-icon.svg)
    &.pinterest
      &:before
        background: url(../img/pinterest-icon.svg)
    &.houzz
      &:before
        background: url(../img/houzz-icon.svg)

  &__list-link
    display: block
    transition: $transition
    &:hover
      color: #fff

  &__list-title
    font-weight: 700
    +mobile
      margin-bottom: 6px

  &__title
    color: #fff
    text-transform: uppercase
    margin-bottom: 30px
    >a
      color: $colorMain

  &__social-links
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    margin-right: -6px    
    +mobile
      justify-content: center

  &__social-link
    border-radius: 50%
    background-size: 50%
    background-position: center
    background-repeat: no-repeat
    margin-right: 6px
    margin-bottom: 6px
    +size(40px)
    +desktop
      margin-bottom: 10px
    &.facebook
      background-color: #4b69a8
      background-image: url(../img/fb-icon.svg)
    &.instagram-icon
      background-color: #aa7a6e
      background-image: url(../img/instagram-icon.svg)
    &.vk
      background-color: #5281b7
      background-image: url(../img/vk-icon.svg)
    &.youtube
      background-color: #ce201f
      background-image: url(../img/youtube-icon.svg)
    &.ok
      background-color: #ff9800
      background-image: url(../img/ok-icon.svg)
    &.pinterest
      background-color: #CB2027
      background-image: url(../img/pinterest-icon.svg)
    &.houzz
      background-color: #4CAF50
      background-image: url(../img/houzz-icon.svg)

  &__bottom
    color: #b0b0b0
    font-size: 14px
    text-transform: uppercase
    padding-top: 25px
    border-top: 1px solid rgba(255,255,255,.05)
    +tabMd(min)
      +flex('between')
    +mobile
      text-align: center
      font-size: 13px

  &__link
    transition: $transition
    &:hover
      color: #fff
    +tabMd(max)
      display: inline-block
      margin-top: 12px