@import "../../styles/vars"
@import "../../styles/mixins"

.new-reviews
  overflow: hidden
  +mobile
    padding-bottom: 20px
    padding-top: 30px

  .reviews-slider
    width: 100%
    overflow: hidden

  .person-card,
  .person-card__name
    color: #fff

  .next-button,
  .prev-button
    top: 30%
    transform: none

.slider-wrap
  position: relative