mixin s-about-reviews()
  +b.SECTION.new-reviews.section
    +b-s-header({
      title: 'Отзывы',
      subtitle: [
        'Смотрите видео о мебели и отзывы клиентов на нашем <a href="#">Youtube канале</a>'
      ]
    })._white
    +b-tabs({
      links: [
        { href: '#clients', text: 'Наши клиенты', class: 'active' },
        { href: '#bloggers', text: 'Блоггеры о нас' }
      ]
    })
      +e.item.show#clients
        .slider-wrap
          .reviews-slider.slider3
            .swiper-wrapper
              +b-review-second({
                video: 'blogger1-video',
                img: 'blogger1',
                name: '123',
                info: '123',
              })
              +b-review-second({
                video: 'blogger2-video',
                img: 'blogger2',
                name: '123',
                info: '123',
              })
              +b-review-second({
                video: 'blogger3-video',
                img: 'blogger3',
                name: '123',
                info: '123',
              })
            button.prev-button
            button.next-button

      +e.item#bloggers
        .slider-wrap
          .reviews-slider.slider3
            .swiper-wrapper
              +b-review-second({
                video: 'blogger1-video',
                img: 'blogger1',
                name: 'Илья Варламов',
                info: 'Известный блоггер',
              })
              +b-review-second({
                video: 'blogger2-video',
                img: 'blogger2',
                name: 'Своим ходом',
                info: 'Виталий и Лиза',
              })
              +b-review-second({
                video: 'blogger3-video',
                img: 'blogger3',
                name: 'Ольга Качанова',
                info: 'Как живут другие',
              })
            button.prev-button
            button.next-button
    +picture-bg('servicesBg')