extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'post'
  - var description = 'post'
  - const pageBg = 'about-bg'
  -
    const breadcrumbs = {
      link: [
        { link: 'Блог', href:'/globus/blog.html' }
      ],
      page: 'Специальное предложение'
    }

//--------------------------------------------------//

block head
  +style('swiper')
  +style('post')

block startBody
  +header()
 
block endBody
  +footer()
  +script('swiper')
  +script('main')
  //- +script('post')

//--------------------------------------------------//

block content
  +b.ARTICLE.article.wrapper
    +e.content
      h1 Акция! При заказе доставки в Россию, Беларусь, Казахстан, мебельный тур — бесплатно.
      +b.post-info
        |<svg class='post__icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 683 682"><path fill="#007BF1" d="M552-1H88C39-1 0 38 0 87v284c0 48 39 87 88 88v128l185-128h279c49 0 88-40 88-88V87c0-49-39-88-88-88zm50 372c1 27-22 50-50 50H261l-136 95v-95H88c-28 0-51-23-51-50V87c0-28 23-51 51-51h464c28 0 50 23 50 51zm1 0"/><path fill="#007BF1" d="M171 131h298v38H171zm0 0M171 211h298v38H171zm0 0M171 291h298v38H171zm0 0"/></svg>
        +e.TIME.time(datetime="2019-09-23T19:00") 23 Сентября 2019
        span  | 
        |<svg class='post__icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path fill="#007BF1" d="M30 0a30 30 0 110 60 30 30 0 010-60zm0 58a28 28 0 100-56 28 28 0 000 56z"/><path fill="#007BF1" d="M30 6l1 1v23h15a1 1 0 110 2H30l-1-1V7l1-1z"/></svg>
        +e.SPAN.author 5 минут
        span  | 
        |<svg class='post__icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442 442"><path fill="#007BF1" d="M221 341c-50 0-103-19-155-56-38-27-62-55-63-56-4-4-4-11 0-16 1-1 25-29 63-56 52-37 105-56 155-56s103 19 155 56c38 27 62 55 63 56 4 5 4 12 0 16-1 1-25 29-63 56-52 37-105 56-155 56zM30 221c9 10 27 27 51 44 33 23 84 51 140 51s107-28 140-51c24-17 42-34 51-44-9-10-27-27-51-44-33-23-84-51-140-51s-107 28-140 51c-24 17-42 34-51 44z"/><path fill="#007BF1" d="M221 299a78 78 0 1151-136 12 12 0 11-16 19 52 52 0 1018 39 13 13 0 0125 0c0 43-35 78-78 78z"/><path fill="#007BF1" d="M221 246a25 25 0 110-50 25 25 0 010 50z"/></svg>
        +e.SPAN.views 4293
      +img('about-bg')
      ul
        li Встреча в аэропорту
        li Сопровождение клиентов и перевод
        li Ведение заказа
        li Полная проверка качества
        li Консолидация покупок на складе
        li Загрузка контейнера
        li Передвижение по Фошаню (кроме поездок на фабрики)
        li Трансфер из аэропорта и обратно
      +article-slider2({
        slider: [
          { img: 'blogger1-video' },
          { img: 'blogger2-video' },
          { img: 'blogger3-video' }
        ]
      })
      +article-slider({
        slider: [
          { img: 'blogger1-video' },
          { img: 'blogger2-video' },
          { img: 'blogger3-video' }
        ]
      })
      +picture('blogger1-video').article-video
      img(
        src='img/blogger1-video.jpg'
        srcset='img/blogger2-video.jpg 1200w, img/about-bg.jpg 991w, img/blogger3-video.jpg 767w'
        sizes='(max-width: 991px) and (min-width: 767px) 767px,(max-width: 1200px) and (min-width: 991px) 991px, (min-width: 1200px) 1200px'
        
        alt=""
      )

    +sidebar-blog