@import "../../styles/vars"
@import "../../styles/mixins"
  
.price-comparison
  padding-top: 82px
  padding-bottom: 22px

  .b-s-header__title
    padding-bottom: 42px

  &__wrap
    position: relative
    display: flex
    overflow-x: scroll
    padding-bottom: 40px
    &::-webkit-scrollbar-track 
      background: #ECECEC
      border-radius: 20px
    &::-webkit-scrollbar-thumb
      background: #007BF1
      border-radius: 20px
    &::-webkit-scrollbar
      width: 1px

  &__slider
    overflow: hidden
    margin-top: 80px

.spc-card
  margin-right: 15px
  position: relative
  +size(540px,280px)
  min-width: 540px
  &:not(:first-child)
    margin-left: 15px
    
  &__ticket
    position: absolute
    top: 18px
    left: -10px
    width: 206px
    height: 98px
    background: #F2994A
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
    border-radius: 2px

  &__title 
    margin-top: 10px
    margin-bottom: 7px
    font-size: 14px
    line-height: 126%
    color: $white
    text-align: center
    display: block

  &__picture
    +size(100%)

  &__description 
    display: flex
    justify-content: center  

  .country-count
    display: flex
    flex-direction: column

  &__count
    font-weight: bold
    font-size: 26px
    line-height: 126%
    color: #FFFFFF

  &__country
    font-weight: 600
    font-size: 14px
    line-height: 126%
    color: #FFFFFF

  &__slash
    color: $white
    font-size: 65px
    line-height: 100%
    margin-top: -5px
    margin-left: 6px
    margin-right: 4px

  &__bigcount
    font-weight: bold
    font-size: 18px
    line-height: 126%
    color: #FFFFFF

  &__in-russia
    padding-top: 10px

.video-info
  .article-video
    height: 300px
    +desktop
      height: 250px
    +tablet(max)
      height: 180px
    +mobile
      min-height: 150px
      height: auto

  &__title
    font-size: 24px
    line-height: 33px
    +tablet(max)
      font-size: 18px
      line-height: 20px
    +mobile
      font-size: 16px

  &__link
    display: flex
    align-items: center
    color: $colorMain
