mixin spc-card(data)
  +b.spc-card
    +image(data.img)
    +e.ticket
      +e.SPAN.title=data.title 
      +e.description 
        +e.in-chine.country-count
          +e.SPAN.count=data.countChine
          +e.SPAN.country в Китае 
        +e.SPAN.slash /
        +e.in-russia.country-count
          +e.SPAN.bigcount=data.bigCount
          +e.SPAN.country в России

mixin s-price-comparison()
  +b.SECTION.price-comparison.wrapper
    +picture-bg('price-bg')
    h3.b-s-header__title Сравните цены в Китае и в России
    +e.wrap
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })
      +spc-card({
        img: 'chear',
        title: 'Кресло Lorem Ipsum',
        countChine: '$ 10',
        bigCount: '$ 100'
      })

    .columns2
      +videoInfo({
        img: 'review2-video',
        title: 'Просчеты реальных проектов реализованных в Китае',
        link: true
      })
      +videoInfo({
        img: 'review2-video',
        title: 'Просчеты реальных проектов реализованных в Китае',
        link: true
      })
