@import "../../styles/vars"
@import "../../styles/mixins"
  
.s-how
  background: #F7F9FB
  padding-top: 60px
  padding-bottom: 82px
  position: relative
 
  &__img 
    position: absolute
    left: 50%
    bottom: 0
    max-width: 380px
    +tablet
      left: auto
      right: -60px
    +tabMd(max)
      display: none

  &__title
    font-weight: 800
    font-size: 40px
    line-height: 126%
    color: #000
    margin-bottom: 22px
    padding-left: 50px
    max-width: 410px
    span
      color: $colorMain
    +tabMd(max)
      margin-bottom: 78px
    +mobile(max)
      padding-left: 30px

  &__slider
    overflow: hidden
    height: 250px
    +desktop(max)
      height: 250px
    .swiper-wrapper
      margin-top: -50px
      // +desktop(max)
      //   margin-top: -35px

  &__slider-container
    position: relative
    width: 618px
    +desktop(max) 
      width: 530px
    +tabMd(max)
      width: 450px
      margin-left: 10px
    +mobile
      width: 98%
      margin-left: 2%

  &__swiper-pagination
    position: absolute
    top: -60px
    right: 0
    z-index: 1
    color: #03529E
    +tabMd(max)
      left: 48px
      top: -80px
    +mobile(max)
      left: 30px
    .swiper-pagination-current
      font-weight: bold
      font-size: 72px
      line-height: 88px
      text-align: right
    .swiper-pagination-total
      font-size: 24px
  
  .next-button
    top: calc(50% + 10px)
    box-shadow: none
    background: $colorMain
    transform: rotate(90deg)
    &::before
      border-left: 5px solid $white
    left: -16px

  .prev-button
    top: calc(50% - 40px)
    box-shadow: none
    background: $colorMain
    transform: rotate(90deg)
    &::before
      border-right: 5px solid $white

.show-slide
  max-height: 50px
  overflow: hidden
  padding: 0 48px
  transition: 250ms
  display: flex
  align-items: center
  &__title
    font-size: 20px
    line-height: 27px
    color: #BDBDBD

  &.swiper-slide-prev
    // max-height: 30px

  &.swiper-slide-next
    // max-height: 30px

  &.swiper-slide-active
    display: block
    background: $white
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
    border-radius: 2px
    padding: 30px 48px
    max-height: 150px
    .show-slide__title 
      font-size: 24px
      color: #000
      font-weight: bold
      margin-bottom: 8px
    .show-slide__subtitle
      display: block

  &__subtitle 
    display: none
    