mixin show-slide(data)
  +b.show-slide.swiper-slide 
    +e.P.title=data.title
    +e.P.subtitle=data.subtitle
    
mixin s-how()
  +b.SECTION.s-how
    .tour.wrapper
      +e.IMG.img(src="img/girl-img.png")
      +e.H3.title Как проходит 
        span мебельный тур?
      +e.slider-container
        +e.slider.s-how__slider1
          .swiper-wrapper
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Встреча и подписание контракта',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Получение мебели у себя дома',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
          .swiper-pagination
        button.prev-button1.prev-button
        button.next-button1.next-button
    .online-tour.wrapper
      +e.H3.title Как проходит мебельный тур 
        span онлайн?
      +e.slider-container
        +e.slider.s-how__slider2
          .swiper-wrapper
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Встреча и подписание контракта',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Заявка и подготовка',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
            +show-slide({
              title: 'Получение мебели у себя дома',
              subtitle: 'После того как вы оставляете заявку мы начинаем организацию вашего мебельного тура и прорабатываем ваш проект.',
            })
          .swiper-pagination
        button.prev-button2.prev-button
        button.next-button2.next-button