include ../../layout/mixins/mixins
include ../../blocks/blocks

//------------------------------//

mixin blog()
  +b.SECTION.blog.wrapper
    +b.section-header
      +e.H6.subtitle Больше о мебели и товарах из Китая читайте
      +e.H2.title
        a В нашем блоге
    +e.slider
      +e.container
        .swiper-wrapper
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
          +post({
            h5: true,
            img: 'blog1',
            title: 'Специальное предложение',
            time: '23 сентября',
            author: '5 минут',
            text: 'Если вы только собираетесь купить мебель в Китае и все еще не можете определиться, как выгодней это сделать, то у нас для вас отличные новости!',
            more: true
          })._slider.swiper-slide
        .prev-button
        .next-button