mixin service(data)
  +b.service.b-tabs__item(id=attributes.id class=attributes.class)
    +e.pluses
      +img(data.img)
      +e.text
        +e.H4.title!=data.title
        +b.UL.check-list
          each plus in data.pluses
            +e.LI.item
              |<svg class="check-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 395 395"><path fill="#007bf1" d="M344 192c-6 0-12 6-12 12v147H25V44h247a13 13 0 000-25H13C6 19 0 25 0 31v332c0 7 6 13 13 13h331c7 0 13-6 13-13V204c0-6-6-12-13-12z"/><path fill="#007bf1" d="M391 27c-5-5-13-5-17 0L170 231l-51-51a13 13 0 00-17 18l59 59a12 12 0 0018 0L391 45c5-5 5-13 0-18z"/></svg>
              !=plus.item  
    +e.desc
      each text in data.texts
        p!=text.p

mixin s-services()
  +b.SECTION.services.section.fixed-bg
    +b-s-header({
      title: 'Наши услуги',
      subtitle: [
        'Мы осуществляем всю цепочку поставок товаров из Китая самостоятельно, не привлекая сторонние компании.'
      ]
    })._white
    +b-tabs({
      links: [
        { text: 'Мебельный тур в Китай', href: '#tour', class: 'active' },
        { href: '#delivery', text: 'Международная доставка' },
        { href: '#clearance', text: 'Таможенное оформление' },
        { href: '#check', text: 'Проверка качества' }
      ]
    })
      +service({
        title: 'Уникальная возможность',
        img: 'service-tour',
        pluses: [
          { item: 'Более 5000 мебельных производств' },
          { item: 'Мебель, освещение, сантехника, аксессуары – в одном городе' },
          { item: 'Нужно всего 5-7 дней, чтобы реализовать любой дизайн-проект' }
        ],
        texts: [
          { p: 'Мебельный тур в Китай – это потрясающая возможность сэкономить свои деньги, купить эксклюзивную мебель, освещение, аксессуары для интерьера, строительные материалы, и все это в одном городе Китая, в Фошань. Вам не нужно тратить недели и месяцы на поиск всего необходимого для создания интерьера, теперь для этого Вам нужно приехать в Китай на срок 5-10 дней и купить все в одном месте! Никогда раньше, это не было так просто, как сейчас!' },
          { p: 'В городе Фошань более 5000 производителей, и он является центром производства мебели в Китае. Здесь вы сможете приобрести любую мебель для: дома, офиса, гостиницы, ресторана, бара, ночного клуба.' },
          { p: 'Подробнее о мебельных турах в Китай читайте в разделе <a href="#">Мебельный тур</a>.' }
        ]
      })#tour.show

      +service({
        title: 'С нами надежно',
        img: 'service-delivery',
        pluses: [
          { item: 'Лучшие тарифы на доставку, никаких скрытых платежей' },
          { item: 'Контроль сроков' },
          { item: 'Работаем с крупнейшими контейнерными перевозчиками' }
        ],
        texts: [
          { p: 'Мы профессионально занимаемся международной логистикой, благодаря накопленному опыту мы можем предложить выгодные тарифы на контейнерные перевозки грузов.' },
          { p: 'Прямое сотрудничество с крупнейшими мировыми перевозчиками обеспечивает нашим клиентам гибкие условия, четкие сроки, финансовые гарантии. Соблюдаем все договоренности, контролируем сроки, никаких скрытых платежей, все это обеспечивает прозрачное и надежное сотрудничество для наших клиентов!' },
          { p: 'Подробнее о доставке товаров из Китая читайте в разделе <a href="#">Доставка</a>.' }
        ]
      })#delivery

      +service({
        title: 'С нами надежно',
        img: 'service-clearance',
        pluses: [
          { item: 'Оптимизация таможенных платежей' },
          { item: 'Белая таможня, никаких серых схем' },
          { item: 'Таможенное оформление в большинстве стран мира' }
        ],
          texts: [
          { p: 'Вам не нужно вникать в хитросплетения таможенного оформления товаров из Китая, этим займется наша компания. Независимо от страны получателя наша компания сделает все необходимые процедуры для таможенного оформления товара из Китая.' },
          { p: 'В Китае, России, Казахстане, Беларуси наша компания сама осуществляет таможенное оформление, в остальных странах мы пользуемся услугами проверенных партнеров. Таможенное оформление - это просто, если этим занимаются профессионалы!' },
          { p: 'Подробнее читайте в разделе <a href="#">Таможенное оформление</a>.' }
        ]
      })#clearance

      +service({
        title: 'Что вы получаете?',
        img: 'service-check',
        pluses: [
          { item: 'Товар без брака' },
          { item: 'Именно тот товар, который Вы заказали' },
          { item: 'Успешное решение конфликтных ситуаций с поставщиками' }
        ],
          texts: [
          { p: 'Проверка качества товара Китайских поставщиков все ещё остается актуальной услугой на рынке. Мы знаем об этом не понаслышке, так как наши менеджеры регулярно выезжают на фабрики и склады поставщиков для контроля качества продукции. У поставщиков наших клиентов иногда возникают проблемы с качеством, и мы знаем как с этим бороться и сделать так, чтобы клиент в итоге получил качественный товар.' },
          { p: 'Подробнее о проверке качества читайте в разделе <a href="#">Проверка качества</a>.' }
        ]
      })#check
    +b.UL.info
      +e.LI.item
        +e.H2.title(style='background-image:url(img/business-icon.svg)') 11+
        +e.H4.subtitle Лет в бизнесе
      +e.LI.item
        +e.H2.title(style='background-image:url(img/experts-icon.svg)') 15+
        +e.H4.subtitle Экспертов
      +e.LI.item
        +e.H2.title(style='background-image:url(img/clients-icon.svg)') 1239+
        +e.H4.subtitle Счастливых клиентов
      +e.LI.item
        +e.H2.title(style='background-image:url(img/map-icon.svg)') 47+
        +e.H4.subtitle Стран мира
    +picture-bg('servicesBg').fixed