include ../blocks/header/menu/menu
include ../blocks/header/contacts/contacts
include ../blocks/btn/btn
include ../blocks/form/form
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/article-slider/article-slider
include ../blocks/accardion/accardion
include ../blocks/sidebar/sidebar
include ../blocks/post/post
include ../blocks/pagination/pagination
include ../blocks/tabs/tabs
include ../blocks/b-review/b-review
include ../blocks/picture-bg/picture-bg
include ../blocks/b-s-header/b-s-header