include ../sections/s-life/s-life
include ../sections/s-about-reviews/s-about-reviews
include ../sections/s-about/s-about
include ../sections/s-blog/s-blog
include ../sections/s-bloggers/s-bloggers
include ../sections/s-main/s-main
include ../sections/s-price/s-price
include ../sections/s-request/s-request
include ../sections/s-reviews/s-reviews
include ../sections/s-services/s-services
include ../sections/s-team/s-team
include ../sections/s-about-video/s-about-video
include ../sections/s-price-comparison/s-price-comparison
include ../sections/s-how/s-how