include ../sections/blog/blog
include ../sections/bloggers/bloggers
include ../sections/globus/globus
include ../sections/life/life
include ../sections/main/main
include ../sections/new-reviews/new-reviews
include ../sections/price/price
include ../sections/request/request
include ../sections/reviews/reviews
include ../sections/services/services
include ../sections/team/team