mixin logo
  +e.A.logo(href='/' aria-label="Home")
    |<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1062.6 302.1">
    |<linearGradient id="path160_1_" gradientUnits="userSpaceOnUse" x1="1084.8684" y1="614.1985" x2="1085.4005" y2="614.1985" gradientTransform="matrix(647.6262 -86.4678 -86.4678 -647.6262 -649474.8125 491753.0312)">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="1" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="378.67" y1="199.2706" x2="444.2698" y2="85.6484">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="491.5142" y1="190.6579" x2="537.663" y2="110.7259">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="594.3474" y1="199.2528" x2="661.2825" y2="83.3179">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="721.9636" y1="199.2368" x2="786.2466" y2="87.8953">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="842.8287" y1="195.3657" x2="913.567" y2="72.8434">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="968.251" y1="204.9128" x2="1041.6414" y2="77.7969">
    |<stop offset="0" style="stop-color:#A1CDEF"></stop>
    |<stop offset="0" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7914" style="stop-color:#3976C4"></stop>
    |<stop offset="0.7946" style="stop-color:#3976C4"></stop>
    |</linearGradient>
    |<path fill="url(#path160_1_)" d="M229.9 248.2l.4-3.5a294.6 294.6 0 001.4-38.5 403.1 403.1 0 0074.7-27.1 123.3 123.3 0 01-76.5 69.1zm-4.2-96.1a380.7 380.7 0 0086.2-37.8c3.9 16.2 3.7 32.7-.1 48.4a421 421 0 01-60.4 28.3 338 338 0 01-20.1 6.7c-.7-15.3-2.7-30.6-5.6-45.6zm-13.5-52.5c9.5-2.5 18.9-5.6 28-9.6 7.9-3.5 15.5-7.8 22.4-12.9 6.3-4.6 12.1-10 17.1-15.9 11.2 9.9 20.4 22 26.5 36.1a346.8 346.8 0 01-82.9 42.9 467.8 467.8 0 00-11.1-40.6zm-10.4-28.9a523.3 523.3 0 00-15.8-36l-.5-1.1c32.3-4.1 63.7 4.4 87.5 22.1a92 92 0 01-15.4 15.8c-6.2 5-13.1 9.2-20.5 12.9-8.4 4.2-17.3 7.5-26.5 10.3-2.7-8.1-5.7-16.1-8.8-24zm120 35.3c-17.9-58.2-78.9-91.6-139.4-78.3-4.7-9.4-9.6-18.6-15-27.7l-.2.1 11.1 28.5-6 1.7a124.4 124.4 0 00-47.5 27.3 129.2 129.2 0 0155.8-23.3l.9 2.3c4.6 12.2 9 24.4 13.2 36.7a658 658 0 017.6 23.8 494 494 0 01-62.9 10.8c-17 1.8-34 3.2-51 4.6v.2c17.1-.7 34.2-1.4 51.2-2.6 17.1-1.2 34.2-2.9 51.1-5.8 4.3-.8 8.7-1.6 13-2.6 4.1 13.7 7.7 27.5 10.8 41.5a371.7 371.7 0 01-50.4 12.7 526.9 526.9 0 01-81.5 7.9c-27.5.7-55-.2-82.5-1.5v.2c27.4 2.8 54.9 5.1 82.5 5.8 27.6.7 55.5-.1 83.1-3.7 17.2-2.2 34.4-5.5 51.2-10 3 15 5.2 30.2 6.5 45.4a338 338 0 01-106 11.7c-23-.9-45.9-3.9-68.6-7.8l-.1.2c22.5 4.9 45.3 8.8 68.4 10.8A353 353 0 00224 208a313.9 313.9 0 01.2 41.9c-19.1 5.3-38.3 6-56.3 2.8a123 123 0 0055.8 4 306.5 306.5 0 01-7.3 45.4l.2.1c4.8-12.2 8.3-24.9 10.8-37.8.6-2.8 1-5.7 1.5-8.6 4-.8 8-1.8 12-3 63.6-19.8 99.9-85.4 80.9-146.8" class="st0"/><path fill="url(#SVGID_1_)" d="M469.8 168.1v.4a28.7 28.7 0 01-8.5 20.7 28.7 28.7 0 01-20.7 8.5h-56.9a28.7 28.7 0 01-20.7-8.5 28.7 28.7 0 01-8.5-20.7v-54.3a28.7 28.7 0 018.5-20.7 28.7 28.7 0 0120.7-8.5h51.5a28.7 28.7 0 0120.7 8.5 28.7 28.7 0 018.5 20.7v.2h-10.8c0-2.7-.5-5.2-1.6-7.6a18 18 0 00-4.2-6.2 18.9 18.9 0 00-6.2-4.2c-2.3-1-4.9-1.6-7.6-1.6h-49.3c-2.7 0-5.3.5-7.6 1.6a18 18 0 00-6.2 4.2 19.5 19.5 0 00-5.8 13.8v54c0 2.7.5 5.3 1.6 7.6a18 18 0 004.2 6.2 19.5 19.5 0 0013.8 5.8h54.8c2.7 0 5.3-.5 7.6-1.6a18.6 18.6 0 0010.3-10.4c1-2.4 1.5-4.9 1.5-7.6v-5.5a20 20 0 00-19.6-19.7h-38.8v-9.5h39.9a28.7 28.7 0 0120.7 8.5 28.7 28.7 0 018.5 20.5v5.4z" class="st1"/><path fill="url(#SVGID_2_)" d="M557.8 187.9v9.7h-46.3a28.7 28.7 0 01-20.7-8.5 28.7 28.7 0 01-8.5-20.7V85H493v83.3c0 2.7.5 5.3 1.6 7.6a18 18 0 004.2 6.2c1.8 1.8 3.8 3.2 6.2 4.2 2.3 1 4.9 1.6 7.6 1.6h45.2z" class="st2"/><path fill="url(#SVGID_3_)" d="M656.2 85a28.7 28.7 0 0120.7 8.5 28.7 28.7 0 018.5 20.7v54.3a28.7 28.7 0 01-8.5 20.7 28.7 28.7 0 01-20.7 8.5h-56.9a28.2 28.2 0 01-20.5-8.5 28.7 28.7 0 01-8.5-20.7v-54.3a28.7 28.7 0 018.5-20.7 28.5 28.5 0 0120.5-8.5h56.9zm18.6 29.3c0-2.7-.5-5.2-1.6-7.6a18 18 0 00-4.2-6.2 19.5 19.5 0 00-13.8-5.8h-54.8a20 20 0 00-19.6 19.6v54c0 2.7.5 5.3 1.6 7.6a18 18 0 004.2 6.2c1.8 1.8 3.8 3.2 6.2 4.2 2.3 1 4.9 1.6 7.6 1.6h54.8c2.7 0 5.3-.5 7.6-1.6a18 18 0 006.2-4.2 19.5 19.5 0 005.8-13.8v-54z" class="st3"/><path fill="url(#SVGID_4_)" d="M793.3 135.2a28.5 28.5 0 0119.7 27.5v5.8a28.7 28.7 0 01-8.5 20.7 28.7 28.7 0 01-20.5 8.5h-57a28.7 28.7 0 01-20.7-8.5 28.7 28.7 0 01-8.5-20.7v-54.3a28.7 28.7 0 018.5-20.7A28.7 28.7 0 01727 85h46.3a28.2 28.2 0 0120.5 8.5 28.6 28.6 0 018.5 20.7 28 28 0 01-9 21zm-21.2-1.7a19 19 0 0013.8-5.6c1.8-1.8 3.2-3.8 4.2-6.2a19.1 19.1 0 00-4.2-21.4 19.5 19.5 0 00-13.8-5.8h-44a20 20 0 00-19.7 19.6v19.3h63.7zm-63.6 34.9c0 2.7.5 5.2 1.6 7.6a20.3 20.3 0 0018.1 12H783a20 20 0 0019.6-19.6v-5.8A20 20 0 00783 143h-74.4v25.4z" class="st4"/><path fill="url(#SVGID_5_)" d="M924.2 85.1h10.6v83.3a28.7 28.7 0 01-8.5 20.7 28.7 28.7 0 01-20.7 8.5h-51.2a28.2 28.2 0 01-20.5-8.5 28.7 28.7 0 01-8.5-20.7V85.1H836v83.3-.2c0 2.7.5 5.3 1.6 7.6a18 18 0 004.2 6.2 19.5 19.5 0 0013.8 5.8h48.8a20 20 0 0019.7-19.6V85.1z" class="st5"/><path fill="url(#SVGID_6_)" d="M1054.3 85.1v9.7h-77.8a20.2 20.2 0 00-13.2 6c-1.7 1.7-3 3.7-3.9 6a19.8 19.8 0 003.9 20.7 19.5 19.5 0 0013.2 6.1h56.9a28.7 28.7 0 0120.7 8.5 28.7 28.7 0 018.5 20.5v5.9a28.2 28.2 0 01-8.5 20.5 28.7 28.7 0 01-20.7 8.5h-77.8V188h77.8a18.3 18.3 0 0013.1-6.1c1.7-1.8 3-3.8 4-6.1a18 18 0 001.5-7.3v-5.9a19.1 19.1 0 00-11.3-17.4c-2.2-1-4.7-1.7-7.3-1.9h-56.9a28.7 28.7 0 01-20.7-8.5 28.7 28.7 0 01-6.2-32 29.3 29.3 0 0126.9-17.7h77.8z" class="st6"/></svg>