mixin menu(menu)
  +b.NAV.menu
    +e.UL.list
      each link1 in menu.links
        if !link1.submenu
          +e.LI.item
              +e.A.link(href=link1.href)!= link1.text
        else
          +e.LI.item.dropdown
            +e.SPAN.link!= link1.text
              +e.SPAN.arrow &#9660;
            +b.UL.sub-menu
              each link2 in link1.submenu
                if !link2.submenu
                  +e.LI.item
                    +e.A.link(href=link2.href)!= link2.text
                else
                  +e.LI.item.dropdown
                    +e.SPAN.link!= link2.text
                      +e.SPAN.arrow  &#9660;
                    +b.UL.sub-menu._sub
                      each link3 in link2.submenu
                        if !link3.submenu
                          +e.LI.item
                            +e.A.link(href=link3.href)!= link3.text
                        else
                          +e.LI.item.dropdown
                            +e.SPAN.link!= link3.text
                              +e.SPAN.arrow  &#9660;
                            +b.UL.sub-menu._sub
                              each link4 in link3.submenu
                                if !link4.submenu
                                  +e.LI.item
                                    +e.A.link(href=link4.href)!= link4.text
