include ../../layout/bemto/bemto
include ../../layout/mixins/img

//------------------------------//

include ../../blocks/btn/btn
include ../../blocks/form/form

include ../../blocks/article-slider/article-slider
include ../../blocks/accardion/accardion
include ../../blocks/sidebar/sidebar
include ../../blocks/post/post
include ../../blocks/pagination/pagination

//------------------------------//

mixin slide(data)
  +e.slide.wrapper.swiper-slide
    +sliderImg(data.img)
    +e.desc
      +e.H2.title=data.title
      +e.P.text=data.text
      +e.buttons
        +e.A.btn.btn.btn_white.btn_lg(href="#") Подробнее
        +e.A.btn.btn.btn_outline.btn_lg(href="#") Подать заявку

mixin catalog-slide(data)
  +e.LI.catalog-item.swiper-slide
    +e.A.catalog-link(href='#')
      +e.H5.catalog-title
        !=data.icon
        =data.title
      +e.P.catalog-text=data.text

mixin main()
  +b.SECTION.main
    +e.container
      +e.slider.swiper-wrapper
        +slide({
          img: 'main1',
          title: 'Мебельный тур в Китай',
          text: 'Покупка мебели в Китае – это прекрасная возможность сэкономить и купить эксклюзивную мебель. В городе Фошань более 5000 производителей, он является центром производства мебели в Китае. Здесь вы сможете приобрести любую мебель для: дома, офиса, гостиницы, ресторана, бара, ночного клуба.'
        })
        +slide({
          img: 'main2',
          title: 'Все стили мебели, тысячи моделей, низкие цены!',
          text: 'Миллионы квадратных метров выставочных площадей с образцами мебели и аксессуарами для интерьера, тысячи фабрик с десятками тысяч моделей мебели, самые низкие цены на мебель в мире! Все это стало возможно в одном городе Китая – Фошане! Китайцы благодаря своему трудолюбию и упорству, продолжают удивлять мир и реализовывать масштабные проекты мирового уровня!'
        })
        +slide({
          img: 'main3',
          title: 'Индивидуальные размеры для всех видов мебели!',
          text: 'Множество производителей в городе Фошань могут сделать мебель по индивидуальным размерам. Понравился стол, но он два метра в длину, а Вам нужно 5? Не беспокойтесь, Китайские поставщики запросто сделают необходимый размер! Ваши дизайн-проекты получат новую жизнь в Китае — это как раз то, о чем вы мечтали!'
        })
      .swiper-pagination
    +e.catalog.wrapper
      +e.catalog-container
        +e.UL.catalog-list.swiper-wrapper
          +catalog-slide({
            icon: '<svg class="main__catalog-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FFF" d="M399 400c13-13 34-13 48 0 7 7 10 16 10 24s-3 17-10 24a33 33 0 01-48 0 33 33 0 010-48zm37 36c7-7 7-17 0-24s-17-7-24 0c-3 4-5 8-5 12s2 9 5 12c7 7 17 7 24 0z"/><path fill="#FFF" d="M410 506L256 353l-61 60-35 36-52 52a38 38 0 01-53 0l-44-44c-7-6-11-16-11-26s4-20 11-26l52-52 36-36 61-61L8 104C-2 95-2 78 8 68L68 8C78-2 94-2 104 8l18 18 49 48 47 48 38 38L393 23c1-3 3-4 6-5L502 0c3 0 6 1 7 3 2 1 3 3 3 6v1l-18 99v2l-2 6-140 139 12 11 23 24 119 119c4 4 6 9 6 14s-2 10-6 14l-68 68c-8 8-21 8-28 0zm63-395l-30-30-283 284 29 29 284-283zM23 417c-8 7-8 21 0 29l44 43c7 8 21 8 29 0l46-46-73-73-46 47zm58-58l36 36 37 36 23-24-72-72-24 24zm156-195l-19 19c-3 3-8 3-11 0s-4-9 0-12l18-19-13-12-29 30c-4 3-9 3-12 0s-4-9 0-12l30-30-12-12-18 18c-4 3-9 3-12 0s-4-8 0-12l18-18-12-12-30 30c-4 4-9 4-12 0s-4-8 0-12l30-30-13-12-18 17c-3 4-9 4-12 0s-3-8 0-12l18-17-12-12-30 29c-3 4-8 4-12 0s-3-8 0-11l30-30-12-12c-3-4-8-4-12 0L20 80l-3 6c0 2 1 5 3 6l152 152 72-72-7-8zM118 323l30 30L431 69l-30-30-283 284zM418 33l28 28 3 1 31 31 12-73-74 13zm8 461l68-68v-4l-88-89-31 31c-3 3-8 3-11 0-4-4-4-9 0-12l30-31-13-12-17 18c-4 3-9 3-12 0-4-3-4-9 0-12l17-18-11-12-30 30c-4 3-9 3-12 0-4-3-4-9 0-12l30-30-6-5-72 73 154 153h4z"/></svg>',
            title: 'Для ремонта',
            text: 'Мрамор, паркет, обои, мозаика и многое другое!',
          })
          +catalog-slide({
            icon: '<svg class="main__catalog-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 374 374"><path fill="#FFF" d="M338 159V98c0-27-20-37-38-37H72c-18 0-37 9-37 37v61c-18 2-35 14-35 41v47c0 8 6 15 14 15h5v37c0 8 7 14 15 14h13c8 0 15-6 15-14v-38h250v38c0 8 7 14 15 14h13c8 0 15-6 15-14v-38h5c8 0 14-6 14-14v-47c-1-27-18-39-36-41zM49 98h1c0-19 12-23 22-23h228c11 0 23 4 23 23v60h-11v-34c0-8-6-15-14-15h-88c-8 0-14 7-14 15v34h-17v-34c0-8-7-15-15-15H76c-8 0-14 7-14 15v34H49V98zm249 26v34h-88v-34h88zm-133 0v34H77v-34h88zM47 299H33v-38h14v38zm293 0h-14v-38h14v38zm18-52H14v-21h344v21zm0-35H14v-12c0-24 18-27 28-27h289c10 0 27 3 27 27v12z"/></svg>',
            title: 'Мебель',
            text: 'Фошань — Мебельная столица мира ждет Вас!',
          })
          +catalog-slide({
            icon: '<svg class="main__catalog-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432 432"><path fill="#FFF" d="M217 93a111 111 0 00-74 195c18 18 16 55 16 56 0 2 0 3 2 5l4 2h102l5-2 2-5c0-1-2-38 16-56l1-1a111 111 0 00-74-194zm64 185l-2 1c-15 17-18 45-18 58h-89c0-13-3-42-20-59a97 97 0 11129 0z"/><path fill="#FFF" d="M216 122c-3 0-7 3-7 6 0 4 4 7 7 7 41 0 73 33 73 73 0 4 3 7 7 7 3 0 7-3 7-7 0-48-39-86-87-86zM261 358h-89c-9 0-17 8-17 17s8 17 17 17h88a17 17 0 000-34zm0 20h-89c-2 0-3-1-3-3s1-3 3-3h88c2 0 3 1 3 3s-1 3-2 3zM247 399h-62c-9 0-17 7-17 17s8 16 17 16h62c10 0 17-7 17-16 0-10-7-17-17-17zm0 19h-62c-2 0-3-1-3-3s1-3 3-3h62c2 0 4 1 4 3s-2 3-4 3zM216 60c4 0 7-3 7-7V7c0-4-3-7-7-7-3 0-7 3-7 7v46c0 4 4 7 7 7zM329 34c-3-2-7-1-9 2l-25 38c-3 4-2 8 1 10l4 1c2 0 4-1 5-3l26-38c2-3 2-8-2-10zM135 84l4-2c3-2 4-6 2-9l-25-39c-2-3-7-4-10-2s-4 6-2 10l25 38c2 3 4 4 6 4zM87 126l-41-22c-3-2-7 0-9 3s-1 7 3 9l40 22 3 1c3 0 5-1 6-4 2-3 1-7-2-9zM396 107c-2-3-6-5-9-3l-41 22c-3 2-5 6-3 9 1 3 4 4 6 4l3-1 41-22c3-2 4-6 3-9z"/></svg>',
            title: 'Освещение',
            text: 'Гучжень — все виды освещения недорого!',
          })
          +catalog-slide({
            icon: '<svg class="main__catalog-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FFF" d="M486 273h-8V94c0-43-34-77-77-77-38 0-65 28-68 69-20 4-34 21-34 42 0 5 3 9 8 9h68c6 0 9-4 9-9 0-21-14-38-34-42 3-27 19-52 51-52 33 0 60 27 60 60v179H204c-4-20-21-34-42-34a42 42 0 00-72 6c-6-4-14-6-22-6-21 0-38 14-42 34-15 0-26 11-26 26 0 14 11 25 26 25h10l23 92c7 26 31 45 58 45h7l-11 22c-3 4-1 9 3 11l3 1c4 0 6-2 8-4l15-30h237l14 29c2 3 5 5 8 5 2 0 3 0 3-2 4-1 6-7 4-11l-11-21c27-1 49-20 56-45l23-92h10c15 0 26-11 26-25 0-15-11-26-26-26zM366 119h-49c4-10 14-17 25-17s21 7 24 17zM68 256c8 0 15 3 21 9 1 3 5 4 8 3s5-3 6-7c3-13 13-22 26-22 9 0 18 4 22 13 2 3 6 5 9 4h3c11 0 20 7 24 17H44c4-10 13-17 24-17zm370 155c-5 19-22 33-42 33H118c-20 0-37-14-42-33l-22-87h404l-20 87zm48-104H26c-6 0-9-3-9-8s3-9 9-9h460c6 0 9 4 9 9s-3 8-9 8z"/><path fill="#FFF" d="M307 175c5 0 9-3 9-9v-4c0-5-4-8-9-8s-8 3-8 8v4c0 6 3 9 8 9zM307 214c5 0 9-4 9-8v-10c0-5-4-8-9-8s-8 3-8 8v10c0 5 3 8 8 8zM307 247c5 0 9-3 9-8v-4c0-5-4-9-9-9s-8 4-8 9v4c0 5 3 8 8 8zM341 175c5 0 9-3 9-9v-4c0-5-4-8-9-8s-8 3-8 8v4c0 6 3 9 8 9zM333 206c0 5 3 8 8 8s9-4 9-8v-10c0-5-4-8-9-8s-8 3-8 8v10zM333 239c0 5 3 8 8 8s9-3 9-8v-4c0-5-4-9-9-9s-8 4-8 9v4zM375 175c6 0 9-3 9-9v-4c0-5-3-8-9-8s-8 3-8 8v4c0 6 3 9 8 9zM367 206c0 5 3 8 8 8s9-4 9-8v-10c0-5-3-8-9-8s-8 3-8 8v10zM367 239c0 5 3 8 8 8s9-3 9-8v-4c0-5-3-9-9-9s-8 4-8 9v4z"/></svg>',
            title: 'Сантехника',
            text: 'Мечтаете о джакузи, Вам нужно в Фошань!',
          })

//- +main
