include logo/logo

mixin header()
  +b.HEADER.header.wrapper
    +e.UL.contacts
      +e.LI.contacts-item
        +e.A.contacts-link._phone(href="tel:8-800-775-9408") 8-800-775-9408 (Бесплатно по РФ)
      +e.LI.contacts-item
        +e.A.contacts-link._phone(href="tel:+86-757-8305-4504") +86-757-8305-4504 (в Китае)
      +e.LI.contacts-item
        +e.A.contacts-link._phone(href="tel:+86-186-7576-2020") +86-186-7576-2020 (WhatsApp)
      +e.LI.contacts-item
        +e.A.contacts-link._whatsapp(href="https://api.whatsapp.com/send?phone=8618675762020") +8618675762020
      +e.LI.contacts-item
        +e.A.contacts-link._mail(href="mailto:info@globus.furniture") info@globus.furniture

    +e.bottom
      +e.A.logo(href='/' aria-label="Home")
        +logo
      +menu({
        links: [
          { disabled: true, text: 'Главная' },
          { href: '#', text: 'Все о мебельном туре',
            submenu: [
              { disabled: true, text: 'Что такое мебельный тур',
                submenu: [
                  { disabled: true, text: 'ссылка',
                    submenu: [
                      { href: '#', text: 'ссылка' },
                      { href: '#', text: 'ссылка' },
                      { href: '#', text: 'ссылка' },
                    ]
                  },
                  { href: '#', text: 'ссылка' },
                  { href: '#', text: 'ссылка' },
                  { href: '#', text: 'ссылка' },
                ]
              },
              { href: '#', text: 'Как проходит мебельный тур' },
              { href: '#', text: 'Передвижение и транспорт' },
              { href: '#', text: 'Стоимость и порядок оплаты' },
              { href: '#', text: 'Доставка из Китая' },
              { href: '#', text: 'Таможенное оформление' },
              { href: '#', text: 'Проверка качества' },
              { href: '#', text: 'Наши гарантии' },
              { href: '#', text: 'Мебельные центры Фошаня' },

            ]
          },
          { href: 'blog.html', text: 'Блог' },
          { href: 'prices.html', text: 'Цены' },
          { href: 'about.html', text: 'О нас' },
          { href: 'reviews.html', text: 'Отзывы' }
        ]
      })
      +e.A.btn.btn(href="#") Контакты
      +burger

