.header
  position: fixed
  width: 100%
  z-index: 999
  background-color: rgba(0,0,0,0)
  transition: $transition
  top: 0
  left: 0
  +tabMd(max)
    background-color: rgba(0,0,0,.9)
  +tabMd(min)
    &.header_fixed
      top: -70px
      background-color: rgba(0,0,0,.9)
  +desktop(min)
    &.header_fixed
      top: -46px

  &__contacts
    padding-top: 11px
    padding-bottom: 11px
    +desktop(min)
      display: flex
    +desktop(max)
      columns: 3
    +tabMd(max)
      display: none

  &__contacts-item
    white-space: nowrap
    +desktop(min)
      &:nth-last-child(2)
        margin-left: auto
      &:not(:last-child)
        margin-right: 15px
    +desktop(max)
      &:last-child
        text-align: right
    +tablet(max)
      &:nth-last-child(2),
      &:nth-last-child(3)
        padding-left: 20px

  &__contacts-link
    display: inline-block
    position: relative
    color: #fff
    opacity: .7
    font-size: 13px
    padding-left: 24px
    +before(transparent,18px)
      left: 0
      top: 50%
      transform: translateY(-50%)
    &_phone
      &:before
        background: url(../img/phone-icon.svg)
    &_mail
      &:before
        background: url(../img/mail-icon.svg)
    &_whatsapp
      &:before
        background: url(../img/whatsapp-icon.svg)

  &__bottom
    // position: relative
    +flex('between-center')
    +tablet(max)  
      padding-top: 11px
      padding-bottom: 11px

  &__logo
    position: relative
    bottom: -3px
    transition: $transition
    width: 140px
    path
      transition: $transition
      fill: #fff
    &:hover
      path
        fill: $colorMain
    +media(max,355px)
      width: 60px
      svg
        height: 40px
      
  &__btn
    +tablet(max)
      margin-right: 20px
      margin-left: auto
                        
+media(max,355px)
  .st1,
  .st2,
  .st3,
  .st4,
  .st5,
  .st6
    display: none