.header
  padding-top: 42px
  position: fixed
  +flex('between-center')
  height: 66px + 42px
  width: 100%
  z-index: 999
  background: rgba(0,0,0,0)
  transition: $transition
  top: 0
  left: 0

  +tablet(max)
    height: 66px
    padding-top: 11px
    padding-bottom: 11px
    background: rgba(0,0,0,.9)

  +tablet(min)
    &.header_fixed
      top: -42px
      background: rgba(0,0,0,.9)

  &__contacts
    position: absolute
    top: 0
    left: 0
    height: 42px
    width: 100%
    display: flex
    background: #000
    align-items: center
  
    +tablet(max)
      position: static
      display: block
      height: auto
      background: #F6F6F6
      padding-top: 20px
      padding-bottom: 20px

  &__contacts-item
    display: flex
    align-items: center
    white-space: nowrap
    &:not(:last-child)
      margin-right: 15px
      +tablet(max)
        margin-bottom: 28px
    &:first-child
      +tablet(min)
        margin-left: auto
    &:last-child
      +desktop(min)
        margin-left: 70px
    &>svg
      height: 19px
      margin-right: 4px
      &>path
        fill: $colorMain

  &__contacts-link
    display: inline-block
    color: #fff
    font-size: 12px
    +tablet(max)
      color: #000

  &__logo
    position: relative
    bottom: -3px
    transition: $transition
    width: 130px
    path
      transition: $transition
      fill: #fff
    &:hover
      path
        fill: $colorMain
    +desktop(min)
      width: 160px
    +media(max,355px)
      width: 60px
      svg
        height: 40px

  &__menu
    transition: $transition
    margin-left: auto
  
    +tablet(max)
      position: absolute
      background: #fff
      left: 50%
      transform: translateX(-50%)
      top: 100%
      max-width: 720px
      width: 100%
      opacity: 0
      visibility: hidden
      z-index: -1
      min-height: 80vh
      &.open
        opacity: 1
        z-index: 100
        visibility: visible

    +mobile
      top: 64px
      height: calc(100vh - 64px)
      width: 100vw
      overflow: auto
      
  &__btn
    +tablet(max)
      margin-right: 20px
      margin-left: auto
                        
+media(max,355px)
  .st1,
  .st2,
  .st3,
  .st4,
  .st5,
  .st6
    display: none