mixin slideBlogger(data)
  +e.slide.swiper-slide
    +b.video-review_second
      +image(data.video)
    +b.person-card
      +image(data.img)
      +e.desc
        +e.H5.name!=data.name
        +e.P.info!=data.info


mixin s-bloggers()
  +b.SECTION.s-bloggers.section.wrapper
    +b-s-header({
      title: 'Мебельные туры <span>глазами блоггеров</span>',
      subtitle: [
        'За последние годы мебельные туры только набирают популярность. Многие известные блоггеры заинтересовались и сделали о нас видео.',
        'Если вы хотите узнать о мебельных турах еще больше — подписывайтесь на наш <a href="#">YouTube</a> канал.'
      ]
    })
    +e.slider
      .slider3
        .swiper-wrapper
          +slideBlogger({
            video: 'blogger1-video',
            img: 'blogger1',
            name: 'Илья Варламов',
            info: 'Известный блоггер',
          })
          +slideBlogger({
            video: 'blogger2-video',
            img: 'blogger2',
            name: 'Своим ходом',
            info: 'Виталий и Лиза',
          })
          +slideBlogger({
            video: 'blogger3-video',
            img: 'blogger3',
            name: 'Ольга Качанова',
            info: 'Как живут другие',
          })
        .prev-button
          |<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.75223 4.27701L0.500689 0.450621C0.307633 0.276869 -4.93544e-09 0.413878 -8.03271e-09 0.673609L-9.92912e-08 8.32639C-1.02388e-07 8.58612 0.307633 8.72313 0.50069 8.54938L4.75224 4.72299C4.88465 4.60382 4.88465 4.39618 4.75223 4.27701Z" fill="white"/></svg>
        .next-button
          |<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.247765 4.27701L4.49931 0.450621C4.69237 0.276869 5 0.413878 5 0.673609L5 8.32639C5 8.58612 4.69237 8.72313 4.49931 8.54938L0.247765 4.72299C0.115351 4.60382 0.115351 4.39618 0.247765 4.27701Z" fill="white"/></svg>