.form
  position: relative
  background-color: #fff
  padding: 48px
  box-shadow: 0 0 30px 0 rgba(0,0,0,.3)
  border-radius: 15px
  +desktop
    padding: 40px 24px
  +mobile
    padding: 24px 20px

  &__title
    margin-bottom: 10px
    font-weight: 400
    +mobile
      font-size: 22px
      line-height: 28px

  &__subtitle
    margin-bottom: 16px

  &__container
    position: relative
    z-index: 2
    margin-bottom: 20px
    display: grid
    row-gap: 30px
    column-gap: 30px
    grid-template-columns: 1fr 1fr
    +tablet(max)
      grid-template-columns: 1fr

  &__input
    display: block
    height: 40px
    width: 100%
    color: #495057
    border-bottom: 1px solid #e1e6eb
    padding: 9px 12px
    padding-left: 30px
    &_textarea
      max-width: 100%
      +size(100%,auto)

  &__input-wrap
    position: relative
    &:last-child
      +tablet(min)
        grid-column-start: 1
        grid-column-end: 3

  &__input-icon
    position: absolute
    +size(18px)
    top: 10px
    left: 0
    >path
      fill: $colorMain

  &__label
    &.invalid
      border-color: red
      input,
      .select
        border-color: red
      
  &__label-text
    font-weight: 600
    margin-bottom: 10px
    display: block

  &__area-input-container
    display: flex
    position: relative

  &__area-metering-wrap
    position: absolute
    right: 0
    bottom: 0

  &__area-metering
    display: inline-block
    >input
      position: absolute
      transform: scale(0)
      &:checked + span
        border-color: $colorMain
        background: $colorMain
        color: #fff
    >span
      padding: 6px 16px 10px
      cursor: pointer
      transition: $transition
      color: $colorMain
      display: block
      line-height: 17px
      border: 1px solid $colorMain
      &:hover
        color: #fff
        border-color: #0274d9
        background: #0274d9

  &__feet
    border-radius: 0 6px 6px 0

  &__message
    border-radius: 4px
    padding: 15px 20px
    margin: 16px 0
    &.loading
      background-color: #cce5ff
      border: 1px solid #b8daff
      color: #004085
    &.success
      background-color: #d4edda
      border: 1px solid #c3e6cb
      color: #155724
    &.error
      background-color: #edd4d4
      border: 1px solid #e6c3c3
      color: #571515

.request_top
  .form
    margin-top: 0

.select
  position: relative
  width: 100%
  color: #999
  border: 1px solid #e1e6eb
  +before(transparent,0)
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid
    right: 12px
    top: 50%
    transition: $transition
    transform-origin: 50% 50% 0
    transform: translateY(-50%)
  &.open
    color: #212529
    &:before
      transform: rotate(90deg)

  &__checked
    cursor: pointer
    font-size: 13px
    padding: 8px 16px

  &__options
    position: absolute
    z-index: 1
    left: -1px
    width: calc(100% + 2px)
    top: 36px
    transition: $transition
    overflow: hidden
    background: #fff
    border: 1px solid #e1e6eb
    border-top: 0
    border-bottom: 1px solid #e1e6eb

  &__group
    //

  &__group-title
    font-size: 14px
    font-weight: 700
    color: #6c757d
    padding: 8px 15px
    
  &__option
    position: relative
    cursor: pointer
    width: 100%
    font-size: 13px
    background: #fff
    transition: $transition
    >input
      position: absolute
      transform: scale(0)
      &:checked + .select__text
        color: #fff
        background: $colorMain

  &__text
    padding: 5px 15px
    background: #fff
    transition: $transition
    &:hover
      background: #f2f2f4

.form-messages
  display: none
  width: 300px
  background: #fff
  border-radius: 6px
  padding: 20px
  &__text
    margin-bottom: 16px

.spinner
  display: none
  animation: rotate 2s linear infinite
  z-index: 2
  position: absolute
  top: 50%
  left: 50%
  margin: -20px 0 0 -20px
  width: 40px
  height: 40px
  
  .path
    stroke: hsl(210, 70, 75)
    stroke-linecap: round
    animation: dash 1.5s ease-in-out infinite

.calculator
  .form
    &__title
      color: $colorMain
    &__subtitle
      >strong
        color: $colorMain
      >a
        color: $colorMain
        &:hover
          text-decoration: underline

@keyframes rotate
  100%
    transform: rotate(360deg)

@keyframes dash
  0%
    stroke-dasharray: 1, 150
    stroke-dashoffset: 0
  50%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -35
  100%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -124
