include mixins/mixins
include ../blocks/blocks
include ../sections/sections

//------------------------------//

block vars

doctype html
html(lang=lang)
  head
    +head()
    block head

  body(class=pageId)
    block startBody

    main.content
      block content

    block endBody
