include ../siteConfig.pug

//------------------------------//

include bemto/bemto
include mixins/head
include mixins/style
include mixins/script
include mixins/img

//------------------------------//

include ../blocks/menu/menu
include ../blocks/btn/btn
include ../blocks/form/form

include ../blocks/header/header
include ../blocks/footer/footer

include ../blocks/breadcrumbs/breadcrumbs

include ../blocks/article-slider/article-slider
include ../blocks/accardion/accardion
include ../blocks/sidebar/sidebar
include ../blocks/post/post
include ../blocks/pagination/pagination

//------------------------------//

include ../sections/services/services
include ../sections/globus/globus
include ../sections/reviews/reviews
include ../sections/request/request
include ../sections/team/team

//------------------------------//

block vars

doctype html
html(lang=lang)
  head
    +head()
    block head

  body(class=pageId)
    block startBody

    main.content
      +b.page-head.wrapper
        if pageTitle
          +e.H1.title!=pageTitle
        +img(pageBg)
        +breadcrumbs(breadcrumbs)
      block content


    block endBody
