include mixins/mixins
include ../blocks/blocks
include ../sections/sections

//------------------------------//

-
  const lang = 'ru'

block vars

doctype html
html(lang=lang)
  head
    +head()
    block head

  body(class=pageId)
    block startBody

    main.content
      +b.page-head.wrapper
        if pageTitle
          +e.H1.title!=pageTitle
        +picture-bg(pageBg)
        +breadcrumbs(breadcrumbs)
      block content


    block endBody
